/* background image */
.background_image {
    background-image: url('/static/images/publicmarket.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    z-index: -1;
}