body{
    background-image: url( "/static/images/publicmarket.png");
}
.overlay{
    margin-left: -3%;
    margin-top: 55px;
    z-index:100;
    width: 100%;
    height: auto;
    position:absolute;
    display: fluid;
    background-color: rgba(0,0,0, 0.6);
}
