{% extends "exercises_base.html" %}

{% block title %}Exercises{% endblock %}

{% block header %}Specific Body Part Exercises:{% endblock %}

{% block content %}


{% for name in names %}
<ul style="color:White; font-size:20px">
    <label>Exercise</label>
    <li><a href="{% url 'exercises_details' name.pk %}">{{ name.exercise_name }}</a></li>
</ul>


{% endfor %}


{% endblock %}



<!-- for names.html
{% for name in names %}
  <ul style="color:White; font-size:20px">
        <label>Exercise</label>
        <li>{{ name.exercise_name }}</li>
        <li>{{ name.repetitions }}</li>
        <li>{{ name.sets }}</li>
        <li>{{ name.description }}</li>
    </ul>
{% endfor %}
             endfor names.html -->