{% extends 'SeaShanties/shanties_base.html' %}

{% block title %} TrackApp -- View Song {% endblock %}

{% block content %}

{% for location %}
<div>
    <ul>
        <div id="location_name" class="grid-container">

            <div id="location_list">
            <br>
                <ul>state: {{ state  }}</ul>
                <ul>city: {{ city  }}</ul>
                <ul>location_name: {{ location_name }}</ul>
                <ul>description: {{ }}</ul>
            <ul> id: {{ TrackApp_detail.pk }}</ul>
                <br>
                <hr>
            </div>
        </div>
    </ul>
</div>
{% endblock %}




