{% extends 'TrackApp/TrackApp_base.html' %}

{% block title %} TrackApp --  {% endblock %}

{% block content %}

    <div class="center">

        <table>
            <tr>
                <th> state </th>
                <th> city </th>
                <th> location_name </th>
            </tr>

            {% for location in location_list  %}
            <tr>
                <p>test</p>
                <td><a href="{% url 'TrackApp_detail'  %}">{{ location.detail }}</a></td>
            </tr>
            {% endfor %}
        </table>

    </div>

{% endblock %}