{% extends "vehicles/Vehicles_base.html" %}
{% load static %}
{% block title %}Vehicle Stats{% endblock %}

{% block content %}
<div id="container" class="table-responsive w-75 mx-auto">
    <table id="table" class="table table-dark table-bordered table-hover text-center">
        <thead>
            <tr>
                <th scope="col" data-field="year" class="w-25">Year</th>
                <th scope="col" data-field="vehicle_make" class="w-25">Make</th>
                <th scope="col" data-field="vehicle_model" class="w-25">Model</th>
                <th scope="col" data-field="vehicle_type" class="w-25">Type</th>
                <th scope="col" data-field="cylinders" class="w-25">Cylinders</th>
                <th scope="col" data-field="horsepower" class="w-25">Horse Power</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ details.year }}</td>
                <td>{{ details.vehicle_make }}</td>
                <td>{{ details.vehicle_model }}</td>
                <td>{{ details.vehicle_type }}</td>
                <td>{{ details.cylinders }}</td>
                <td>{{ details.horsepower }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{% url 'basketball_stats_edit' details.pk %}"><button type="button" class="btn btn-dark btn-lg w-25 mx-auto">Edit</button></a>
    <a href="{% url 'basketball_stats_delete' details.pk %}"><button type="button" class="btn btn-dark btn-lg w-25 mx-auto">Delete</button></a>
</div>
{% endblock %}