<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basketball App</title>
</head>

<header>
    <ul>
            <!---Navbar at top of page--->
      <li><a href="">Home</a></li>
      <li><a href="">Teams</a></li>
      <li><a href="">Rosters</a></li>
      <li><a href="Basketball_Pickup.html">Pickup Games</a></li>
    </ul>
            <!---End Navbar--->
</header>

<body>
<!-- THIS IS WHERE CONTENT FROM OTHER PAGES IS INSERTED -->
{% block content %}{% endblock %}
</body>
</html>