/* background image */

.bg_img {
    background-image: url('/static/images/coachMain.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.coachNv {
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: -webkit-sticky; /* Keeps Navbar at top of page */
    position: sticky;
    top: 0;
    z-index: 1; /* Navbar is always on top */
}

body {
    color: white;
    overflow: hidden;
}

footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}


.coach-container{
    background-color: #45abff;
    border: 3px solid;
    border-color: white;
    border-radius: 15px;
    color: white;
    margin: 3em auto;
    opacity: .9;
    width: 50%;
	}

.coach-container h2{
	font-size: 2rem;
	text-decoration: underline;
	text-align: center;\
	font-weight: bold;
	margin-left: 25px;
	margin-top: 15px;

.coach-container h3{
	font-size: 2rem;
	text-decoration: underline;
	text-align: center;\
	font-weight: bold;
	margin-left: 25px;
	margin-top: 15px;


.account-form {
	position: relative;
	padding-top: 200px;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	width: 700px;
	text-align: center
}

/* General Table Styling */
/*
#headerRow {
	color: darkslateblue;
	text-align: center;
*/
tr td{
	height: auto;
	word-wrap: normal;

	width: auto;
}

.center {
	text-align: center;
	width: 15%;
	color: white;
}

.left{
	padding-left: 10px;
	width: 30%;
	word-wrap: normal;
	color: white;
}

.right {
	padding-right: 5px;
	width: 20%;
	text-align: right;