{% extends "Gardening/gardening_base.html" %}

{% load static %}

{% block content %}

<!-- This is here for planning purposes only!-->
<h1 class="text-danger">COMING SOON!</h1>

<!--<table class="table table-hover">-->
<!--  <thead>-->
<!--    <tr>-->
<!--      <th scope="col">Plant Name</th>-->
<!--      <th scope="col">Type</th>-->
<!--      <th scope="col">Season Planted</th>-->
<!--      <th scope="col">Date Planted</th>-->
<!--      <th scope="col">Days to Harvest/Maturity</th>-->
<!--    </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--  {% for Plant in Plants %}-->
<!--    <tr>-->
<!--      <th scope="row">{{Plant.name}}</th>-->
<!--      <td>{{Plant.type}}</td>-->
<!--      <td>{{Plant.season_planted}}</td>-->
<!--      <td>{{Plant.date_planted}}</td>-->
<!--      <td>{{Plant.days_to_harvest}}</td>-->
<!--    </tr>-->
<!--  {% endfor %}-->
<!--  </tbody>-->
<!--</table>-->

{% endblock %}