{% extends 'coachBase.html' %}
{% block title %}Child Roster{% endblock %}
{% block content %}
			<h2>Child Roster</h2>

			<table class="table table-responsive" id ="roster-table">
				<tr id="headerRow">
					<th>Child Name</th>
					<th>Grade</th>
					<th>Jersey #</th>
					<th>Coach</th>
				</tr>
				{% for child in rosterList %}
				<tr>
					<td><a href="{% url 'coachChildDetails' child.id %}" class="center">{{ child.Last_Name }}</a></td>
					<td class="center">{{ child.Child_Grade }}</td>
					<td class="left">{{ child.Jersey_Number }}</td>
					<!--<td class="right">{{ key.Coach_Name }}</td>-->
				</tr>
				{% endfor %}
			</table>

			<br><br>
{% endblock %}
