<!DOCTYPE html>
<html lang="en">
<nav>
    <a href="homesportscards.html">HOME</a>
</nav>
    <head>
        <title>Sports Cards</title>
        <meta charset=""utf-8">
    </head>
    <body>
        <h1>Sometimes a very reliable and fun way to invest is overlooked!  Certain, especially older sports cards, have been shown to hold their value better than stocks even!</h1>

        <p>1952 Topps Mickey Mantle</p>

        <div>
            <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.latimes.com%2Fsports%2Fstory%2F2021-01-14%2Fmickey-mantle-rookie-baseball-card-record-sale&psig=AOvVaw0tFYCHAd6vzLt5AgzzDGT2&ust=1628382379351000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCPDbl53TnfICFQAAAAAdAAAAABAL">
        </div>
    </body>
</html>