{% extends "SportsCards/SportsCards_base.html" %}

{% block title %} Details {% endblock %}

{% block header %} Details {% endblock %}

{% block content %}

<form method="POST" action="../sportscards_details/">
    <table>
        {% csrf_token %}
        {{ form.as_table }}
    </table>
    <input type="submit" class="btn" value="Click here to confirm edits">
    <button class="btn"><a href="../{{ form.pk }}sportscards_delete/">Delete Record</a></button>
</form>

<h1>Mickey Mantle Rookie Card</h1>
<p>Known as one of the holy grails of baseball cards, this one is very desirable and even harder to find, especially in good condition.</p>
<br>
<h1>Michael Jordan Rookie Card</h1>
<p>This card is probably the holy grail of basketball cards.  There has not been and will probably never be another player like Michael Jordan.</p>
<br>
<h1>Honus Wagner Rookie Card</h1>
<p>Probably the most famous baseball card of all time, Honus himself halted the production of these cards of himself, making them very rare.</p>
<br>
<h1>Bill Russell Rookie Card</h1>
<p>Bill Russell has more championship rings than anyone in the history of the NBA. Enough said.</p>
<br>
<h1>Joe Namath Rookie Card</h1>
<p>One of the most famous quarterbacks ever; this rookie is highly desirable.</p>
<br>
<h1>Johnny Unitas Rookie Card</h1>
<p>Another one of the best quarterbacks ever; many collectors consider a collection incomplete without this card.</p>
<br>
<h1>Wayne Gretzky Rookie Card</h1>
<p>The Great One is probably one of the best if not the best hockey players ever.</p>
<br>
<h1>Gordie Howe</h1>
<p>Also very influential in his time, some of Gordie Howe's records have stood the test of time still.</p>



{% endblock %}