body {
    background-image: url("../images/basketball_hoop.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: blue;
    color: white;
    text-align: center;
}

h1 {
    text-align: center;
    color: blue;
}

h3 {
    text-align: center;
    color: blue;
}

caption {
    color: lightskyblue;
    font-weight: bold;
    text-align: right;
}

#list-container {
    margin-bottom: 50px;
}

.my-menu {
    text-align: center;
}

#container {
    margin-bottom: 50px;
}