{% load static %}
<html lang="en">
 <!-- Head -->
    <head>
        <title>Muay Thai Nation</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <body>
        <h1>Muay Thai Nation</h1>
        <!--NAVBAR-->
        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
              <div class="container-fluid">
                  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                      <div class="navbar-nav">
                          <a class="nav-link active text-warning" aria-current="page" href="{% url 'MuayThai_home' %}">Home</a>
                          <a class="nav-link text-warning" href="#">Fighter's Register Here</a>
                          <a class="nav-link text-warning" href="#">Participating Gyms</a>
                      </div>
                  </div>
              </div>
        </nav>

        <!--END NAVBAR-->
        {% block content %}

        {% endblock %}
    </body>
</html>