{% extends "MuayThai/MuayThai_base.html" %}
{% load static %}

{% block content %}
{% comment %}
    displays list of fighters registered and details
{% endcomment %}


<h1>Registered Fighters</h1>
<table border="1" width="800">
    <thead>
        <tr>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Country</td>
            <td>Weight</td>
            <td>Gym</td>
        </tr>
    </thead>

    <tbody>
        {% for fighter in fighters %}
        <tr>
            <td class="dataEntries">{{ fighter.first_name }}</td>
            <td class="dataEntries">{{ fighter.last_name }}</td>
            <td class="dataEntries">{{ fighter.country }}</td>
            <td class="dataEntries">{{ fighter.weight_in_lbs }}</td>
            <td class="dataEntries">{{ fighter.gym }}</td>
        </tr>
        {% endfor %}
    </tbody>

</table>









{% endblock %}