
/* ===== HOME SECTION ===== */

#home {
    background-image: url('/static/images/RecCon_bkground.jpg');
    background-attachment: fixed;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#home-title {
    font: bold 36px Cursive;
    color: blue;
    text-align: center;
    margin-top: 0px;
}

/* ===== MY RECIPES LIST/INDEX ===== */
.frmBtn_container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.btn_list {
	flex-grow: 2;
    justify-content: center;
    text-align: center;
    display: inline-block;
    width: 150px; /* button size */
    margin: 2% 2% 2% 2%;
    color: black;
    padding: 10px 0px;
    text-decoration: none;
    font-size: 14px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid silver;
    border-radius: 5px;
}



/* ===== NAVBAR SECTION ===== */
/*
.wrap {
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
}
*/

.btn {
	flex-grow: 2;
    justify-content: center;
    text-align: center;
    display: inline-block;
    width: 100px; /* button size */
    margin: 2% 2% 2% 2%;
    color: black;
    padding: 10px;
    text-decoration: none;
    font-size: 14px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border: 1px solid blue;
    border-radius: 8px;
}

.menu-container {
    top: 0;
    left: 0;
    position: relative;
    width: 100%;
/*    background: GhostWhite;
    opacity: 0.5;*/
}

.menu {
    font: 20px Cursive;
    text-align: center;
    display: inline;
    margin: 0;
    padding: 0;
    list-style: none;
    padding: 12px;
    display: flex;
    flex-wrap: wrap;
   /* align-items: center;*/
    width: 100%;
}
/*
.menu li {
    color: #b3b3b3;
    display: inline-block;
    margin-right; -2px;
    position: relative;
    padding: 12px 40px;
    border: 1px solid #9d9fa2;
    border-radius: 1.5px;
    background: #387593;
    cursor: pointer;
}

.menu li:hover {
    background: #5eafdf;
    color: #fff;
}

.menu li:hover ul {
    display: block;
    opacity: 1;
     While hovered, drop down-menu appears
       This also avoids a block-level bug
    visibility: visible;
}*/