{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/dfort_layout.css' %}">
    <title>{% block title%}Title{% endblock%}</title>
    <script src="{% static 'js/dfort_script.js' %}"></script>
</head>

    <!-- Nav Bar -->
    <div class="edge-top">
        <nav>
            <a href="{% url 'dfort_home' %}" class="nav-button">Home</a>
            <a href="#" class="nav-button">About</a>
            <a href="{% url 'dfort_create' %}" class="nav-button">Create</a>
            <a href="{% url 'dfort_display' %}" class="nav-button">View</a>
        </nav>
    </div>

<body>
    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>

<footer>
    Created by Wesley Morford  2022
</footer>
<div class="edge-bottom"></div>


</html>