{% extends "NeighborhoodReview/NeighborhoodReview_base.html" %}

{% load static %}

{% block title %}Portland Neighborhood Review App {%  endblock %} }

{% block header %}Portland Neighborhood Review {% endblock %}

{% block content %}

    Are you currently looking to buy or rent a home in the Portland area? Share your thoughts with the community
    on what you think of the neighborhoods you've checked out! Sharing your experience will help others find out
    what part of town they'd like to settle. It's also a great way to find out more about Portland's neighborhoods!

{% endblock %}
