{% extends "NeighborhoodReview/NeighborhoodReview_base.html" %}

{% load static %}

{% block title %}Portland Neighborhood Review App {%  endblock %} }

{% block header %}Portland Neighborhood Review {% endblock %}

{% block content %}

    Are you currently looking to buy or rent a home in the Portland area? Share your thoughts with the community
    on what you think of the neighborhoods you've checked out! Sharing your experience will help others find out
    what part of town they'd like to settle. It's also a great way to find out more about Portland's neighborhoods!

    <h4>Choose a Neighborhood to Review</h4>
   <br>
    <form method ='POST'>
    <div class="mb-3">
        <label class = "form-label">View Reviews of Portland's Neighborhoods</label>
            {% csrf_token %}
            {{ form.neighborhood_id }}
    </div>
        <button class ="btn btn-primary" type = "submit">Review this Neighborhood</button>
    </form>
    <hr>
    <div class = "home-page-bottom">
    <h4>Add a Review</h4>

        <button class = "btn btn-primary" type = "submit"  ><a class="nav nav-pills" style = "color:white" href = "{% url 'NeighborhoodReview/CreateReview.html' %}">Add a Review</a></button>
    </div>
    <br>
    <div class = "home-page-bottom">
    <h4>Add a New Neighborhood to Review</h4>
        <button class = "btn btn-primary"  type = "submit"><a class ="nav nav-pills" style = "color:white" href = "{% url 'NeighborhoodReview/CreateNewNeighborhood.html' %}">Add Neighborhood</a></button>
    </div>

    <div class = "home-page-bottom">
    <h4>See a List of All Reviewed Changes</h4>
        <button class = "btn btn-primary"  type = "submit"><a class ="nav nav-pills" style = "color:white" href = "{% url 'NeighborhoodReview/DisplayAllNeighborhoods.html' %}">See List</a></button>
    </div>

{% endblock %}
