/********************************************************
*                   Base Styling                        *
********************************************************/
body {
    background-image: url("/static/images/BaseballCards.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right center;
    background-size: 25%;
}
/********************************************************
*                 End Base Styling                      *
********************************************************/
/********************************************************
*                 Add Page Styling                      *
********************************************************/
#form-con {
    width: 50%;
    margin-left: 25%;
    margin-top: 0.5%;
}

#form-con h3 {
    text-align: center;
    color: #DC3545;
}
/********************************************************
*               End Add Page Styling                    *
********************************************************/
