/********************************************************
*                    NavBar                             *
********************************************************/

/********************************************************
*                    End NavBar                         *
********************************************************/




body {
    background-image: url("/static/images/BaseballCards.jpg");
    background-color: black;
}

html * {
    font-size: 110em;
    font-color: blue;
}