<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CommercialAirplanes Collector</title>
    <div style="background-color:white;" class="topnav">
        <a class="" href="#home">Home</a>
        <a class="" href="#Collection">Commercial Airplane Collection</a>
        <a class="" href="#contact">Contact Me</a>
    </div>
</head>

<body style="background-color:blue;">
<h1> Check out my cool Airplane collection </h1>
<p>As a kid I always enjoyed anything related to aviation, especially commercial aviation<br>
I vowed that whenwver I became rich enough i would purchase every airplane made.<br>
To show off my great wealth, I have  created a webpage showing all of my planes that I collected!
</p>
<p> Thanks for looking and I hope your jealous! </p>
</body>

<footer>
    <a>Created by Sean M Crawford</a>
</footer>
</html>