{% extends 'Pokedex/PokeDex_base.html' %}

{% block title %} PokeDex {% endblock %}

{% block header %} Welcome to your new online PokeDex! {% endblock %}

{% block content %}

<p style="text-align: center; color: white; padding-top: 110px; padding-left: 25px;"><b>Please direct yourself to the top
    left corner of the screen where you will<br> see a "Destination" navigation bar. The Destination bar will give you<br>
    options to Search for Pokémon or Add Pokémon to your new PokeDex.<br> It also has a section to view the Pokémon
    that you have added to your<br> PokeDex and select them to learn more about them! Within your<br> PokeDex you'll be
    able to edit the Pokémon and Remove them.</b></p>

{% endblock %}