{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "Portfolio_head.html" %}
    <meta charset="UTF-8">
    <title>Shiv Patel</title>
</head>
<body>
        {% include "Portfolio/navbar.html" %}
        <div class="container anim" id="container">
                <div class="controller" >
                    <div class="homecontent" id="home">
                        <div id="homesection">
                            <h1>Welcome to my corner of the internet</h1>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


</body>
</html>