{% load static %}
<html lang="en">
<head>
    {% include "Portfolio_head.html" %}
    <meta charset="UTF-8">
    <title>Shiv Patel</title>
</head>

<body>
        {% include "Portfolio/navbar.html" %}
        <div class="container anim">
                <div class="controller" >
                    <div class="homecontent" id="home">
                        <div id="homesection">
                            <h1>Welcome to my corner of the internet</h1>

                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container anim">
            <div class="con2 aboutmecontent">
                <div class="aboutmesection">
                    <h1 class="aboutheader">About Me</h1>

                </div>
            </div>
        </div>



        {% include "Portfolio/contactform.html" %}


</body>

</html>