{% load static %}
<html lang="en">
<head>
    {% include "Portfolio_head.html" %}
    <meta charset="UTF-8">
    <title>Shiv Patel</title>
</head>
<body>
    {% include "Portfolio/navbar.html" %}
    <div class="container anim">
        <div class="con2 aboutmecontent">
            <table class="">
        <thead class="">
            <tr>
                <th>Name:</th>
                <th>Topic:</th>
                <th>Email:</th>
                <th>Message:</th>
            </tr>
        </thead>
        <tbody class="bg-light">
            {% for ContactForm in inquries %}
            <tr class="">
                <td><a href="./{{ ContactForm.pk }}/portfolio_details">{{ ContactForm.Name }}</a></td>
                <td>{{ ContactForm.Topic }}</td>
                <td>{{ ContactForm.Email }}</td>
                <td>{{ ContactForm.Message }}</td>
            </tr>
            {% endfor %}
    </table>
        </div>
    </div>

</body>
</html>