{% load static %}

<!DOCTYPE html>
<html lang="en" class="bg_img">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'FictionalCharacters/CSS/FictionalCharacters.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <div class="FCNavbar">
        <a href="{% url 'FictionalCharacters_Home' %}">Home</a>
        <a href="{% url 'FictionalCharacters_View' %}">View Characters</a>
        <a href="{% url 'FictionalCharacters_CreateSeries' %}">Add A Series</a>
        <a href="{% url 'FictionalCharacters_Create' %}">Add A Character</a>
        <div class="FCSrc">
            <form method="POST" action="{% url 'FictionalCharacters_Search' %}">
                {% csrf_token %}
                <input type="search" placeholder="Search Characters..." name="FCsearch">
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>

    <div class="FCBox">
        <header class="FCHeader">
            <h1>{% block header %}{% endblock %}</h1>
        </header>
        {% block content %}{% endblock %}
    </div>

</body>

<div class="FCFooter">
    <p> 2022 | Fox Addams</p>
</div>


</html>