{% extends 'FictionalCharacters/FictionalCharacters_Base.html' %}

{% block title %} Fictional Characters {% endblock %}

{% block header %} CHARACTERS {% endblock %}

{% block content %}

<div class="FCView">
    {% for char in chars %}
    <img src="/static/FictionalCharacters/images/Characters_icon.png"> <a href="{% url 'FictionalCharacters_ShowChar' char.id%}">{{ char.name }}</a> <br/>
    <img class="FCImg" src="/static/FictionalCharacters/images/Characters_divider.png">
    {% endfor %}
</div>

{% endblock %}