{% extends 'PasswordManager/PwdMgr_base.html' %}

x{% block title %}Viewing Stored Passwords{% endblock %}
{% block header %}Stored Passwords{% endblock %}

{% block appcontent %}
<div class="form-container">
<form method="'POST">
    {{ form.NewPassword }}
</form>
    <table  class="table table-responsive" id="passwords-table">
        <tr id="HeaderRow">
            <th>Type</th>
            <th>Creation Date</th>
            <th>Last Modified Date</th>
            <th>Website</th>
            <th>Email</th>
            <th>User Name</th>
            <th>Password</th>
            <th>Favorite?</th>
        </tr>{% for key, total in passwords_table.items %} <!-- for each row in passwords_table, dynamically update this doc with the key/value pairs -->
        <tr>
            <td class="center">{{ key.type }}</td>
            <td class="center">{{ key.creation_date }}</td>
            <td class="center">{{ key.last_modified_date }}</td>
            <td class="left">{{ key.website }}</td>
            <td class="left">{{ key.email }}</td>
            <td class="left">{{ key.username }}</td>
            <td class="left">{{ key.password }}</td>
            <td class="center">{{ key.favorite }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}