/*======================
    GENERAL STYLING
=======================*/


/*===BACKGROUND IMAGE===*/
body {
    background-image: url("../images/oregon.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}