{% extends "Cryptocurrency_base.html" %}

{% block title %}Cryptocurrency{% endblock %}

{% block header %}Cryptocurrency Reviews!{% endblock %}

{% block content %}

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eu rhoncus ligula, nec ornare quam.
Praesent aliquam elementum nibh tincidunt dignissim. Integer ligula ligula, iaculis eget fringilla vitae,
consectetur a tellus. Integer facilisis felis non lacus ultricies tincidunt.
Sed nec fermentum neque. Aenean sollicitudin ac magna non dictum.
Aliquam vitae est at odio pellentesque sodales ut sed leo.
<br>
<a href="/Cryptocurrency/Reviews/">See reviews now</a>

{% endblock %}