{% extends "FootballStats/Football_Stats_base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block header %} Football Stats {% endblock %}

{% block content %}
<h1 class="heading text-center">Add a New Player Stat:</h1>
    <div class="container">
        <form method="POST" class="control-label col-xs-1">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="frmBtn_container">
                <input type="submit" class="btn btn-primary" id="btn" value="Add New Player Stat" name= "add_player_stat">
                <a href="{% url 'football_stats_home' %}"><button type="button" class="btn btn-secondary" value="Cancel">Cancel</button></a>
            </div>
        </form>
    </div>

{% endblock %}


