{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
       <link rel="stylesheet" href="/static/css/theforce.css ">
    </head>
   <body>
        <div class="page_container">
            <nav>
                <ul>
                    <li><a href="{% url '_Home' %}">Home</a></li>
                    <li><a href="{% url 'TheForce' %}">More About You</a></li>
                    <li><a href="{% url 'Edit' %}">Events</a></li>
                </ul>
            </nav>
            <br>
            <br>
            <header>
                <h1>{% block header %}The Force{% endblock %}</h1>
            </header>
            {% block content %}{% endblock %}
        </div>

        <footer>
            <p>Jedi Mind Trick &copy;2021 | Stephen Parks</p>
        </footer>
    </body>



</html>

