{% extends "The_Force_Base.html" %}
{% block title %}Star Wars Events Near You!!{% endblock %}

{% block header %}
    <h1>Find a Convention Near You!!</h1>
{% endblock %}

{% block content %}
    <div class="table-container">
        <table id="table">
            <thead>
                <tr id="th">
                    <th>Event Name</th>
                    <th>City </th>
                    <th>Address</th>
                    <th>Light or Dark Side?</th>
                    <th>Tell us more about yourself</th>
                    <th>Links</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
            {% for location in locations %}
                <tr id="td">
                    <td>{{ event.created_at }}</a></td>
                    <td>{{ event.name }}</td>
                    <td>{{ event. address }}</td>
                    <td>{{ event.event_description }}</td>
                     <td><a href="{% url 'The_Force_Costumes' event.pk %}">Costumes{{ event.costumes }}</a></td>
                    <td><a href="{% url 'Edit' event.pk %}">Edit Entry{{ event. edit }}</a></td>
                    <td><a href="{% url 'confirmDelete' event.pk %}">Delete Details</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}