/* add styling to body of homepage */

html {
    background-color: lightgray;
}

body {
    position: relative;
    overflow: hidden;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

p {
    padding: 2px 16px;
    font-size: 15px;
    font-family: 'Lato', Georgia, sans-serif;
    color: black;
}

header  {
    text-align: center;
    color: red;
}

h1 {
    color: #0404B4;
    font-family: 'Lobster';
    text-shadow: 3px 2px 1px rgba(181, 184, 255, 1);
    margin:0 auto;
}
h3 {
    color: #0404B4;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
h3 span {
    font-variant: small-caps;
    padding: 2px 16px;
}
.container {
    padding: 2px 16px;
}

.box {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.box>* {
	flex: 1 1 160px;
}
.center-img {
    display: block;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkgray ;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
ul.topnav li a:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
	transition: opacity 0.3s ease-in-out;
    background-color: #355664;

.header-title {
	padding: 2px 16px;
	text-align: center;
}
.bg_img {
    background-color: lightblue;
    background-image: url('/static/images/moviereviews_4.jpg');
    background-size: cover;
    background-attachment:fixed;
    background-position: center;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}