body{
background: black;
font-family: monospace, sans-serif;
color: yellow;
text-align: center;
}

/* Tables */
table{
    display: inline-block;
    color: cyan;
    margin: 5px;
    text-align: center;
}

th{
    font-size: 20px;
    text-decoration: underline;
    padding: 10px;
}

td{
    color: darkmagenta;
    padding: 10px;
}

.name{
    cursor: pointer;
}

/* Visualizer */
.b-body{
    white-space: pre;
    font-size: 40px;
    color: white;
}

.beware{
    font-size: 50px;
    color: red;
}

.b-description{
    color: cyan;
}

/* Boxes */
.list-container{
    display: inline-block;
    border: double silver;
    border-radius: 5px;
    background-color: #0E0D0B;
    padding: 10px;
}

.detail-container {
    color: cyan;
}

.form-container{
    display: inline-block;
    border: double silver;
    border-radius: 5px;
    background-color: #3D2D0C;
    padding: 10px;
}

.container{
    display: center;
}

/* For Paginator */
.page{
    font-size: 20px;
}

form{
    text-align: left;
}

/* Pushes footer to bottom of the page */
footer{
    position: absolute;
    bottom: 0;
}