
{% extends 'eb_base.html' %}

{% block title %}A Scenic Route{% endblock %}

{% block header %}
    <div>
        <h4 class="display-4 text-light">Accommodation Details:</h4>
        <p>Always comfortable, select what suits your preference and/or budget!</p>
    </div>

{% endblock %}

{% block content %}

<h3 id="Options">
    Options:</h3>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'images/coach-seats.jpg' %}" class="card-img-top" alt="Coach seats">
                <div class="card-body">
                    <h5 class="card-title">Coach Seating</h5>
                    <p class="card-text">Wide comfortable reclining seats, footrests, ample legroom, overhead luggage bins and big picture window with curtains at your seat.</p>
                    <a href="https://www.amtrak.com/onboard/onboard-accommodations-for-all-your-needs/seating-accommodations.html" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>



        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'images/accessiblebedroom.jpg' %}" class="card-img-top" alt="Accessible Bedroom">
                <div class="card-body">
                    <h5 class="card-title">Accessible Bedroom</h5>
                    <p class="card-text">For customers traveling with a disability, accessible bedrooms are located near the entry level of the train.</p>
                    <a href="https://www.amtrak.com/onboard/onboard-accommodations-for-all-your-needs/sleeper-car-accommodations/accessible-bedroom.html" class="btn btn-primary">Details and Videos</a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}