{% extends 'eb_base.html' %}

{% block title %}A Scenic Route{% endblock %}

{% block header %}Across America by Rail{% endblock %}

{% block content %}

<div class="jumbotron jumbotron-fluid bg-success text-light text-center">
  <h1 class="display-4">Welcome! Let's plan your adventure.</h1>
</div>

<article>
			<h2>The Train Ride...</h2>
				<p>
				Thank you for choosing to travel with us on this 3 day - 2 night timeless adventure. What a<br>
				great opportunity to make memories on a solo trip or with friends and/or family. You will see<br>
				some of the most beautiful sites in America through your big picture window as we roll by. We<br>
				will stop at different stations along the way. Some will be a short pick-up and/or drop-off of<br>
				passengers, while others will allow between 10 and 25 minutes of time to walk around outside. The<br>
				details will be provided by announcement and attendants can answer any questions you have. Please<br>
				reach out to our customer service department with any questions by email, chat or phone.<br>
				</p>
			</article>

	<h3>Which are you traveling from? <a href="{% url 'eb_stations' %}"><button type='button' class="btn" value="Click">Click Here</button></a> to see our list of stations.</h3>


{% endblock %}