{% load static %}
<!DOCTYPE html>
<html>

    <!-- Head -->
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>Muay Thai Nation</title>
    </head>

    <!-- Body -->
    <body class="Background">

        <!-- Navbar -->
        <div class="Navbar">
            <a class="active" href="#Home">Home</a>
            <!-- New section added -->
            <a href="#">Lumpini Champions</a>
            <a href="#">History</a>
            <a href="#">Fight Styles</a>
        </div>