{% extends 'ArtistTrack_base.html' %}
{% block title %}Details{% endblock %}
{% block header %}Playlist Details{% endblock %}
{% block body %}

<div class="container at-opaque-container">

    <form class="red-text" name="PlaylistForm" method="POST" action="">
        <table class="">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {{ form.as_p }}
        </table>
            <input class="btn btn-primary" type="submit" value="Edit Playlist Details">

    </form>
    <a href="./playlist_delete"><button class="btn btn-danger" >Delete Playlist From Library</button></a>
    <a href="{% url 'at_library' %}"><button class="btn btn-secondary">Back to Library</button></a>
</div>

{% endblock %}