body {
    font-family:Montserrat ;
    text-align: center;
    background-image: url('../images/composer_background.jpg');
    background-size: cover;
    overflow: scroll;
    background-repeat: no-repeat;
}

