{% extends "dfort_base.html" %}

{% block content %}
    <br>
    <br>
    <br>
    <br>



    <h1>Track Forgotten Beasts</h1>
    <p> Keep records of the vicious beasts you encounter</p>

    <div class="search-container">
        <div class="inner-search">
            {% csrf_token %}
            <select id="select_menu" onChange="top.location.href=this.options[this.selectedIndex].value;">
                <option value="">Choose a Beast</option>
                {% for b in beast %}
                    <option value="../DwarfFort/{{ b.pk }}/details/">{{ b.name }}, the {{b.title}}</option>
                {% endfor %}
            </select>

            <form action="{% url 'dfort_search' %}" method="POST" style="display: inline;">
                {% csrf_token %}
                <input type="search" name="usr_query" placeholder="Search by Name">
                <input type="submit" value="Search">
            </form>

        </div>
    </div>

    <br>
    <br>

    <a href="{% url 'dfort_create' %}"><button>NEW</button></a>
    <a href="{% url 'dfort_display' %}"><button>View All</button></a>
{% endblock %}