{% load static %}

<!DOCTYPE html>


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'Books/css/Books.css' %}">
    <script src="https://kit.fontawesome.com/aec8d5c56a.js" crossorigin="anonymous"></script>
    <title>{%block title%} {% endblock %}</title>
    </head>

<body>
<div class="navbar">
    <ul>
        <li><a href="{% url 'books_home' %}"><i class="fa fa-fw fa-home"></i> Home</a></li>
        <li><a href="{% url 'books_addbook' %}"><i class="fa-solid fa-book"></i> Add Book</a></li>
        <li><a href="#"><i class="fa-solid fa-magnifying-glass"></i> Search</a></li>
    </ul>
</div>

{% block content%}
{% endblock %}


</body>
</html>