<!-- Add RvtFunctions page -->
<!-- Story7, Step1: Get elements out of your API JSON response, send just the values you want as relevant dictionary objects to the template (nested dictionaries are fine)  -->
<!-- this page only appears when user click on the 'details' link in the records page -->
{% extends 'RevitFunctions/RevitFunctions_base.html' %}   						<!-- MUST remember to add the app name prior to the base.html!!!! -->
{% block title %}Details of Revit Functions{% endblock %}


{% block content %}
<section class="py-5">
    <div class="container px-5">
	    <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
            <div class="text-center mb-5">
                <h2 class="fw-bolder">ONLINE TUTORIALS</h2>
                <p class="lead fw-normal text-muted mb-0">Try These Links!</p>
            </div>