body {
	background: url("../images/HousingBG.jpg");
	background-size: auto;
	background-repeat: no-repeat;
	margin-bottom: 100px;
}

footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width:100%;
    background: #ceff99;
}