body {
	background: url("../images/hero-background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin-bottom: 100px; /* Need this so footer doesn't cover submit button on create page */
}

footer {
    position: fixed; /* footer always visible at bottom */
    left: 0px;
    bottom: 0px;
    width:100%;
    background: #e6e6e6;
}