{% extends 'Reading/Reading_Base.html' %}
{% block title %}Record Reading{% endblock %}

{% block header %}<h1>Record Reading Form</h1>{% endblock %}

{% block content %}
<div class="form_container">
    <form method="POST">
        <div class="frmObject_container">
        {% csrf_token %}
        {{ form.as_p }}
        </div>
        <div class="frmBtn_container">
            <button class="frmBtn" type="submit" name="Reading_Create">Add Record</button>
        </div>
    </form>
</div>
{% endblock %}