 body {
    background: url(../images/concertphoto.jpg);
    background-repeat: no-repeat;
    background-size: 100%;

}
.at-library-container {
    max-height: 30em;
    overflow-y: scroll;
    display: flex;
    /* this makes it so the tables will make a new row if space is needed because
    of a smaller screen, or many playlists to display. */
    flex-wrap: wrap;
    /* gives the tables an even amount of space between and outside of them */
    justify-content: space-around;
    align-items: stretch;
}

.at-playlist-table {
    max-height: 16em;
    overflow-y: scroll;
}

.at-opaque-container {
    background-color: black;
    opacity: .7;
    border-radius: 8px;
}
.red-text {
    color: red;
}


@media only screen and (max-width: 900px) {
    body {
        background-image: none;
        background-color: red;
    }
}

