{% extends 'music_charts/mcharts_base.html' %}

{% block title %}Hot_100{% endblock %}

{% block header %}Hot 100 current artist{% endblock %}

{% block content %}
<!---this is where the html tags and code will fall--->
    <table>
      <tr>
        <th>Rank</th>
        <th>Song</th>
        <th>Artist</th>
        <th>Wks on Chart</th>
      </tr>
        {% for store in song_data %}
        <tr>
            <td>{{ rank }}</td>
            <td>{{ song }}</td>
            <td>{{ artist }}</td>
        </tr>
            {% endfor %}
    </table>

<!--- end of html tags and python code----->
{% endblock %}