{% extends "Formula1/Formula1_base.html" %}

{% load static %}

{% block title %}Formula 1{% endblock %}

{% block header %}Details{% endblock %}

{% block content %}

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{% static summary.3 %}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ summary.0 }}</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Team: {{ summary.1 }}</li>
    <li class="list-group-item">Total Points: {{ summary.2 }}</li>
  </ul>
</div>


{% endblock %}