{% load static %}

{% include "campsites_navbar.html" %}

{% block content %}

    <h1 class="heading">Add a New Campsite:</h1>

        <div class="form-container">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="frmBtn_container">
                <input type="submit" class="btn" id="btn" value="Add CampSite" name="Add_CampSite">
                <a href="{% url 'campsites_home' %}"><button type="button" class="btn"  value="Cancel">Cancel</button></a>
            </div>
        </form>
    </div>

{% endblock %}