{% extends "WorkoutEquipment/WorkoutEquipBase.html" %}

{% block title %} Equipment Information {% endblock %}

{% block header %} Equipment Information {% endblock %}

{% block content %}
<!-- This page will display useful information sourced from beautiful soup webscraping function-->
<div class="admin_panel">
    <!-- I will display the blog title and paragraph information-->
    <!--will also supply a link to the website below-->
    <!-- I may scrape multiple pages to have more than one blog post-->
    <button class="btn"><a href="#">Beautiful Soup Web Scraper pg</a></button>
</div>







{% endblock %}