
body {
    font-family: Heebo;
    background-image: url('../img/background.jpg');
}

.center {
    margin: auto;
    width: 50%;
}


nav {
    display: flex;
}

nav > a {
    display: inline-block;
    border: 1px solid green;
    width: 33.3333%;
    text-align: center;
    text-decoration: none;
    color: seagreen;
}

nav > a:hover {
    background: seagreen;
    opacity: 75%;
    color: white;
}

h1 {
    margin: auto;
    width: 50%;
    color: seagreen;
    text-align: center;
}

footer {
    position: absolute;
    left: 25%;
    bottom: 15px;
    text-align: center;
}



.release-container  {
    display: block;
    float: left;
    width: 10%;
    border: 1px solid black;
}

.release-header {
    text-decoration: none;
    color: seagreen;
}