{% extends 'ATVTrails_base.html' %}
{% block header %}ATV Trails{% endblock %}

{% include "AtvTrails_navbar.html" %}

{% block content %}

<div class="admin_panel">
    <div class="formObject">
        {% csrf_token %}
        <label for="menu_id"></label>
        <select id="menu_id" name="menu" onChange="top.location.href=this.options[this.selectedIndex].value;">
            {% for trails in trails %}
            <option value="../{{ trails.pk }}/trail_details/">{{ trails.trail_name }}</option>
            {% endfor %}
        </select>
        <div class="fromBtn_container">
            <div>
                <a href="{% url 'add_trail' %}"><button type="button" class="btn">Add a New Trail</button></a>
                <a href="{% url 'Atv_home' %}"><button type="button" class="btn">Home</button></a>

            </div>

        </div>
    </div>
</div>

<div class="container">

	{% for trails in trails %}

	<a href="">{{ trails.trail_name }}<br/></a>
        {{ trails.trail_description}}<br/>
    <hr>

	{% endfor %}

</div>

{% endblock %}