{% extends "GrandmasRecipes/GrandmasRecipes_base.html" %}
{% load static %}

{% block title %}Grandmas Recipes{% endblock %}

{% block header %}<h3>The Cookbook</h3>{% endblock %}

{% block content %}
    <table id="cookbook">
        <thead class="table_header"> <!--tbl headers-->
            <tr>
                <td scope="col"> Name </td>
                <td scope="col"> Category </td>
            </tr>
        </thead>
        <tbody class="tbl_body"> <!--rows-->
            {% for Recipes in recipes %} <!-- iterate through database, output results to list -->
                <tr>
                    <td> {{ Recipes }}</td>
                </tr>



            {% endfor %}
        </tbody>
    </table>
{% endblock %}