{% extends "GrandmasRecipes/GrandmasRecipes_base.html" %}
{% load static %}

{% block title %}Grandmas Recipes{% endblock %}

{% block header %}<h3>The Cookbook</h3>{% endblock %}

{% block content %}
    <div id="cookbook">
        <ul>
            {% for Recipes in Recipes %}
                <li>
                {{ Recipes.name }}
                {{ Recipes.ingredients }}  <!-- iterate through database, output results to list -->
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}