{% extends "nba-base.html" %}

{% block title %}Basketball Reference{% endblock %}

{% block header %}2020-2021 Season{% endblock %}

{% block content %}
    <div class="container-main">
        <table id="myTable" name="brTable">
            <thead class="sticky">
                <tr id="headerRow">
                    <th>Player</th>
                    <th onclick="sortTable(1)">DRebs</th>
                    <th onclick="sortTable(2)">Steals</th>
                    <th onclick="sortTable(3)">Blocks</th>
                    <th onclick="sortTable(4)">Total Def Points</th>
                </tr>
            </thead>
            <tbody>
            {% for key, value in player_dict.items %}
            <tr name="{{ value.playerName }} {{ value.defRebs }} {{ value.steals }}">
                <td class="left" onclick="showDiv(); savePlayerFunc({{ key }});">{{ value.playerName }}</td>
                <td class="center">{{ value.defRebs }}</td>
                <td class="center">{{ value.steals }}</td>
                <td class="center">{{ value.blocks }}</td>
                <td class="right">{{ value.total_def_points }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="container-two" id="show-div" style="display:none">
        <p id="save-player"></p>
    </div>

{% endblock %}


