<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static '/css/oregon_layout.css' %}">
    <title>Welcome to Oregon City!</title>
    <style>
    body {
      background-image: url('oregon.jpg');
    }
    </style>
</head>

<div class="topnav">
    <a href="{% url 'oregon_home' %}">Home</a>
    <a href="{% url 'oregon_activities' %}">Activities</a>
    <a href="{% url 'oregon_about' %}">About</a>
</div>
<body id="body">
<div class="content-container-container">
	<div class="content-container">
		{% block content %}
		{% end block %}
	</div>
</div>


</body>
</html>