/* General Styling */

html, body {
	height: cover;
	width: cover;
}

body {
    background-color:lightgrey;
    background-image: url( "/static/images/bottles.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
}