{% extends 'utada_base.html' %}
{% block title %} Music {% endblock %}
{% block content %}

<header>Music </header>

<body>


      <!--button to input song-->
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">Small</span>
        </div>
        <div class="text-center">
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
          <button type="button">Enter</button>
        </div>
    </div>





</body>
</html>