{% extends "eurotripbase.html" %}
{% load static %}
{% block title %}Locations{% endblock %}

{% block content %}
<table>
    <thead>
        <tr id="top">
            <th>Country</th>
            <th>City</th>
            <th>Price</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        {% for city in cities %}
        <tr id="">
            <td>{{ city.country }}</td>
            <td>{{ city.safety }}</td>
            <td>{{ city.price }}</td>
            <td><a href="{% url 'eurotripdetails' country.pk %}">View Details</a></td>
        </tr>

        {% endfor %}
    </tbody>
</table>
{% endblock %}
