{% extends "eurotripbase.html" %}

{% block title %}Accommodations{% endblock %}

{% block header %}European Accommodations{% endblock %}

{% block content %}
<div class="eurotrip_accommodations">
    <!--Post method keeps it invincible -->
    <!--action brings you ... when the user clicks on the button-->
    <!--form tag creates a form for user input-->
    <form name="AccommodationsForm" method="POST" action="">
        <div class="formObject">
            <!--django requirement to prevent cross site security risks, -->
            {% csrf_token %}


