{% extends "eurotripbase.html" %}

{% block title %}Exercises{% endblock %}

{% block header %}Create a new workout:{% endblock %}

{% block content %}

<div class="location">
    <!--action calling create record for dB-->
    <form method="POST" action="{% url 'eurotrip_loccreate' %}">
        <div class="frmObject_container">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <!--as paragraph-->
            {{ form.as_p }}
            <button type="submit">submit</button>
        </div>

    </form>
</div>


{% endblock %}