{% extends "eurotripbase.html" %}

{% block title %}Accommodations{% endblock %}

{% block header %}Accommodations for Your Stay{% endblock %}

{% block content %}

<div class="eurotrip_acccreate">
    <!--action calling create record for dB-->
    <form method="POST" action="{% url 'eurotrip_accomcreate' %}">
        <div class="frmObject_container">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <!--as paragraph-->
            {{ form.as_p }}
        </div>
        <div class="frmBtn_container">
            <!--input goes to action-->
            <input type="submit" class="btn" value="Add Your Accommodation Experience" name="Save_Item">
            <a href="{% url 'eurotrip_accomcreate' %}"><button type="button" class="btn" value="Cancel">Cancel</button></a>
        </div>
    </form>
</div>


{% endblock %}