{% extends "Theaters_and_Features/Theaters_and_Features_base.html" %}
{% block title %}Theater Details{% endblock %}
{% block header %}Theater features and details {% endblock %}
{% block content %}

    <div class="form_container">
        <form name="TheaterForm" method="POST" action="">
            <div class="formObject_container">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="btn">
                    <input type="submit" value="Update">
                </div>
            </div>
        </form>
    </div>

{% endblock %}