{% extends "Theaters_and_Features/Theaters_and_Features_base.html" %}
{% block title %}Find a Theater{% endblock %}
{% block header %} Search for a Theater {% endblock %}
{% block content %}
    <table>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Movies</th>
                <th>Seats</th>
                <th>Alcohol</th>
                <th>Food</th>
            </tr>
            {% for Theaters in all_theaters %}
            <tr>
                <td>{{ Theaters.Name }}</td>
                <td>{{ Theaters.Address }}</td>
                <td>{{ Theaters.Phone }}</td>
                <td>{{ Theaters.MovieType }}</td>
                <td>{{ Theaters.SeatType }}</td>
                <td>{{ Theaters.HasAlcohol }}</td>
                <td>{{ Theaters.Food }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>


{% endblock %}