{% extends "Theaters_and_Features/Theaters_and_Features_base.html" %}
{% block title %}Find a Theater{% endblock %}
{% block header %} Search for a Theater {% endblock %}
{% block content %}
    <table>
            <tr>
                <th>Name</th>
                <!-- <th>Address</th>
                <th>Phone</th>
                <th>Movies</th>
                <th>Seats</th>
                <th>Alcohol</th>
                <th>Food</th> -->
            </tr>
            {% for theater in all_theaters %}
            <tr>
                <td><a href="{% url 'Theater_details' theater.id %}">{{ theater.Theaters_Name }}</a></td>
            </tr>
            {% endfor %}
    </table>



{% endblock %}