{% load static %}

<html lang="en" class="home">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'css/RecCon_main.css' %}">

    </head>
    <body>
        <div>
            {% include "RecipeConvert/RecCon_navbar.html" %}
            <header class="home-title">
                <h1>{% block header %}{% endblock %}</h1>
            </header>
            {% block content %}{% endblock %}
        </div>

    </body>
</html>
