{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Skateboarding</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"> <!--Needs Work-->
        <link rel="stylesheet" type="text/css" href="{% static '/css/StreetLeagueSkateboarding.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&family=Nanum+Myeongjo&display=swap" rel="stylesheet">
    </head>
    <body>
        <!--Navigation Start-->
        <div class="navbar">
            <a href="{% url 'StreetLeagueSkateboarding_home' %}">Home</a>
            <a href="{% url 'StreetLeagueSkateboarding_create' %}">Create Skater</a>
            <a href="{% url 'StreetLeagueSkateboarding_view' %}">Roster</a>
            <a href="{% url 'StreetLeagueSkateboarding_api' %}">API</a>
        </div>
        <!--Navigation End-->
        <!--Content Start-->
        <div class="create-container">
            {% block content %}{% endblock %}
            <br><br>
        </div>
        <!--Content End-->
        <!--Skater Animation Start-->
        <div class="skater_animation"></div>
        <!--Skater Animation End-->
        <!--Footer Start-->
        <footer>
            <p>
                J. Bowersock | 2022
            </p>
        </footer>
        <!--Footer End-->
    </body>
</html>