{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Street League Skateboarding</title>
        <link rel="stylesheet" type="text/css" href="{% static '/css/StreetLeagueSkateboarding.css' %}">
    </head>
    <body>
        <!--Navigation Start-->
        <div class="navbar">
            <a class="active" href="#home">Home</a>
            <a href="#one">TabOne</a>
        </div>
        <!--Navigation End-->
        <!--Content Start-->
        <div id="one">
            {% block content %}
		    {% endblock %}
        </div>
        <!--Content End-->
        <!--Footer Start-->
        <footer>
            <p>
                JLBLiveProjects | 2022
            </p>
        </footer>
    </body>
</html>