{% extends "Villager_Registry/villager_base.html" %}

{% block title %}Villager Registry: Add Resident{% endblock %}

{% block header %}{% endblock %}

{% block content %}
 <div class="admin_panel">
        <form method="POST" action="{% url 'villager_createRecord' %}">
            <div class="frmObject_container">
                <!-- Cross Site Request Forgery {csrf_token} protection -->
                {% csrf_token %}
                {{ form.non_field_errors }}
                {{ form.as_p }}
            </div>
            <div class="frmBtn_container">
                <input type="submit" class="button" value="Create New Resident Record" name="Save_Item">
                <a href="{% url 'villager_admin' %}"><button type="button" value="Cancel" >Cancel</button></a>
            </div>
        </form>
    </div>

{% endblock %}