{% extends "Villager_Registry/villager_base.html" %}

{% block title %}Villager Registry: Admin Panel{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<div class="admin_panel">
    <form name="ResidentForm" method="POST" action="">
        <div class="formObject">
            {% csrf_token %}
            <label>Select a resident from the list to edit:</label>
            <select name="residents" onChange="top.location.href=this.options[this.selectedIndex].value;">
            {% for resident in residents %}
                <option value="../{{ resident.pk }}/villager_details/">{{ resident.name }}</option>
                <option value="../{{ resident.pk }}/villager_details/">{{ resident.name }}</option>
                <option value="../{{ resident.pk }}/villager_details/">{{ resident.name }}</option>
                <option value="../{{ resident.pk }}/villager_details/">{{ resident.name }}</option>
            {% endfor %}
            </select>
            <div class="frmBtn_container">
                <a href="{% url 'villager_createRecord' %}"><button type="button">Add Resident</button></a>
                <a href="{% url 'villager_home' %}"><button type="button">Logout of Profile</button></a>

            </div>
        </div>
    </form>
</div>

{% endblock %}