{% extends "Villager_Registry/villager_base.html" %}

{% block title %}Villager Registry: Home{% endblock %}

{% block header %}
<div class="home-container">
    <h1>Welcome, Player! This is the ACNH Villager Registry!</h1>
</div>
<img class="home-head-img" src="/static/Villager_Registry/images/ac_humans.jpg">
{% endblock %}

{% block content %}
<div class="p-container" style="margin-top: 12%;">
        <p>This is a place to connect with other players by showing off which villagers
        reside on a player's island. You can also check out the
        <a href="{% url 'villager_list' %}">Villager List</a> for more details about
        each villager in the game! If you have an existing account, be sure to login!
        And if you don't yet have one, <a href="{% url 'villager_create'%}">create</a>
        one today!</p>
</div>

<section class="player-container">
        <div>
                <label>
                     <h1 style="position:left;">Player Spotlight: {{ "Shay2395" }}</h1>
                     <h3 style="position:left;padding-left:20px;">Island Name: {{ "Shaytopia" }}</h3>
                </label>
            <br>
                <label>Current Residents:</label>
                 <ol>
                     <li>Agnes</li>
                     <li>Bertha</li>
                     <li>Carmen</li>
                     <li>Elise</li>
                     <li>Hazel</li>
                     <li>Merengue</li>
                     <li>Marina</li>
                     <li>Pancetti</li>
                     <li>Diana</li>
                     <li>Ketchup</li>
                 </ol>
        </div>
</section>

{% endblock %}