{% load static %}
<html lang="en" class="bg_img">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title> <!-- These are called Template Tags -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- The link above is For Bootstrap4 CSS, this way I don't have to spend too much time styling -->
        <link rel="stylesheet" type="text/css" href="{% static '/Villager_Registry/CSS/vr_styling.css' %}">

    </head>
    <header>
        {% block header %}{% endblock %}
        <div class="navbar-container">
        {% include "Villager_Registry/villager_navbar.html" %}
        </div>
    </header>
    <body>

        {%block content%}{% endblock %}

    {% include "Villager_Registry/villager_footer.html" %}
    </body>
</html>