{% extends "Villager_Registry/villager_base.html" %}

{% block title %}Villager Registry: Player Details{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<div class="account-container">
    <div class="account-form" style="height:100%;">
            <h3>Name: {{ player.first_name }}</h3>
            <h3>Username: {{ player.username }}</h3>
            <h3>Island Name: {{ player.island_name }}</h3>
            <h3>Villager 1: {{ player.villager_1 }}</h3>
            <h3>Villager 2 : {{ player.villager_2 }}</h3>
            <h3>Villager 3 : {{ player.villager_3 }}</h3>
            <h3>Villager 4 : {{ player.villager_4 }}</h3>
            <h3>Villager 5 : {{ player.villager_5 }}</h3>
            <h3>Villager 6 : {{ player.villager_6 }}</h3>
            <h3>Villager 7 : {{ player.villager_7 }}</h3>
            <h3>Villager 8 : {{ player.villager_8 }}</h3>
            <h3>Villager 9 : {{ player.villager_9 }}</h3>
            <h3>Villager 10 : {{ player.villager_10 }}</h3>
            </hr>
    </div>
</div>

{% endblock %}