{% extends "Villager_Registry/villager_base.html" %}

{% block title %}Villager Registry: Create New Account{% endblock %}

{% block header %}
<div class="header-container" style="width:800px;margin-left:auto; margin-right:auto;">
	<h3 class="center">CREATE NEW ACCOUNT</h3>
</div>
{% endblock %}

{% block content %}
<div class="account-container" style="width:600px;">
	<div class="account-form">
		<form method="POST">
			{% csrf_token %}
			{{form.as_p}}
			<button class="account-button" type="submit" name="Save_Account" style="margin-bottom:20px;">Create Account</button>
		</form>
	</div>
</div>
{% endblock %}