{% load static %}
<html lang="en" class="bg_img">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title> <!-- These are called Template Tags -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- The link above is For Bootstrap4 CSS, this way I don't have to spend too much time styling -->
        <link rel="stylesheet" type="text/css" href="{% static '/Villager_Registry/CSS/vr_styling.css' %}">

    </head>
    <header>
        {% block header %}{% endblock %}
        <div class="navbar-container">
        {% include "Villager_Registry/villager_navbar.html" %}
        </div>
    </header>
    <body>
    <br><br><br>
    {%block content%}{% endblock %}
    <br><br><br>
    {% include "Villager_Registry/villager_footer.html" %}
    </body>
</html>