{% extends "Villager_Registry/villager_base.html" %}

{% block title %}Villager Registry: Player Details{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<div class="account-container">
    <div class="account-form" style="height:100%;">

            <h3>Name: {{ playerinfo.first_name }}</h3>
            <h3>Username: {{ playerinfo.username }}</h3>
            <h3>Island Name: {{ playerinfo.island_name }}</h3>
            <h3>Villager 1: {{ playerinfo.villager_1 }}</h3>
            <h3>Villager 2 : {{ playerinfo.villager_2 }}</h3>
            <h3>Villager 3 : {{ playerinfo.villager_3 }}</h3>
            <h3>Villager 4 : {{ playerinfo.villager_4 }}</h3>
            <h3>Villager 5 : {{ playerinfo.villager_5 }}</h3>
            <h3>Villager 6 : {{ playerinfo.villager_6 }}</h3>
            <h3>Villager 7 : {{ playerinfo.villager_7 }}</h3>
            <h3>Villager 8 : {{ playerinfo.villager_8 }}</h3>
            <h3>Villager 9 : {{ playerinfo.villager_9 }}</h3>
            <h3>Villager 10 : {{ playerinfo.villager_10 }}</h3>
            </hr>
    </div>
</div>

{% endblock %}