{% load static%}
<!DOCTYPE html>
<html lang="en" class="">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'Recipe_Maker/css/Recipe_Maker_layout.css' %}">
    </head>
    <body>
        <div class="">

            {% include 'Recipe_Maker/Recipe_Maker_navbar.html' %}

            <header class="">
                <h1>Welcome to Recipe Maker</h1>
            </header>

            {% block content %}{% endblock %}
        </div>

        {% include 'Recipe_Maker/Recipe_Maker_footer.html' %}

    </body>
</html>