{% extends "Recipe_Maker/Recipe_Maker_base.html" %}


{% block content %}
    <table>
        <tr>
            <th>Recipe Name</th>
            <th>Recipe Type</th>
        </tr>
        {% for recipe in recipes %}
        <tr>
            <!-- recipe.id passes in the id of each recipe-->
            <td><a href="{% url 'recipe_details' recipe.id %}">{{ recipe.recipe_name|capfirst }}</a></td>
            <td>{{ recipe.recipe_type }}</td>
        </tr>
        {% endfor %}
    </table>


{% if recipes.has_previous %}
    <a href="?page=1">&laquo; First</a>
    <a href="?page={{ venues.previous_page_number }}">Previous</a>
{% endif %}

Page {{ recipes.number }} of {{ recipes.paginator.num_pages }}

{% if recipes.has_next %}
    <a href="?page={{ recipes.next_page_number }}">Next</a>
    <a href="?page={{ recipes.paginator.num_pages }}">Last &raquo;</a>
{% endif %}

{% endblock %}