{% load static%}
<!DOCTYPE html>
<html lang="en" class="">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'Recipe_Maker/css/Recipe_Maker_layout.css' %}">
    </head>
    <body>
        <div class="">

            {% include 'Recipe_Maker/Recipe_Maker_navbar.html' %}

            <header class="">
                <h1>{% block header %}{% endblock %}</h1>
            </header>

            {% block content %}

            {# this code checks if pagination is enabled and adds next and previous links #}

            {% block pagination %}
                {% if is_paginated %}
                    <div class="pagination">
                        <span class="page-links">
                            {% if page_obj.has_previous %}
                                <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                            {% endif %}
                            <span class="page-current">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                            </span>
                            {% if page_obj.has_next %}
                                <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                            {% endif %}
                        </span>
                    </div>
                {% endif %}
              {% endblock %}

            {% endblock %}
        </div>

        {% include 'Recipe_Maker/Recipe_Maker_footer.html' %}

    </body>
</html>