{% extends "VP_TrackShows/base.html" %}


{% block title %}Create Show{% endblock %}


{% block header %}Create A New Show:{% endblock %}


{% block content %}
    <div class="admin_panel">
        <form method="POST" action="{% url 'create_record' %}">
            <div class="frmObject_container">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {{ form.as_p }}
            </div>
            <div class="frmBtn_container">
                <input type="submit" class="btn" value="Create New Show" name="Save_Item">
                <a href="{% url 'VP_TrackShows:admin_console' %}"><button type="button" class="btn" value="Cancel">Cancel</button></a>
            </div>
        </form>
    </div>
{% endblock %}
