{% extends "VP_TrackShows/base.html" %}


{% block title %}Add Shows To Start Tracking Them{% endblock %}


{% block header %}
    <h1>Click "Add Show" below to add to your collection!</h1>
{% endblock %}


{% block content %}
<div class="admin_panel">
    <form name="productForm" method="POST" action="">
        <div class="formObject">
            {% csrf_token %}
            <label for="menu_id">Select a show to edit:</label>
            <select id="menu_id" name="menu" onChange="top.location.href=this.options[this.selectedIndex].value;">
            {% for show in shows %}
                <option value="../{{ show.pk }}/details/">{{ show.show_title }}</option>
            {% endfor %}
            </select>
            <div class="fromBtn_container">
                <a href="{% url 'create_record' %}"><button type="button" class="btn">Create New Show</button></a>
                <a href="{% url 'admin_console' %}"><button type="button" class="btn">Cancel</button></a>
            </div>
        </div>
    </form>
</div>
{% endblock %}
