body {
    background-image: url('/Static/Images/VideoGameReviews.jpg');
}

h1 {
    font-family: Georgia, serif;
    text-align: center;
    font-size: 20px;
}

p {
    font-family: Georgia, serif;
    text-align: center;
    font-size: 14px;
}
