<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <!-- NAV BAR -->
    <div class="page_container">
        <ul class="topnav">
            <li><a href="{% url 'BlazerStats_Home' %}">Home</a></li>
        </ul>
    </div>
    <!-- END NAV BAR -->

    <!-- HEADER -->
    <header>
        {% block header %}{% endblock %}
    </header>
    <!-- END HEADER -->

    <!-- BODY -->

    <!-- END BODY -->

    <!-- FOOTER -->
    <footer>
        <p>Blazer Stats App &#169;2021 | By Jeffrey Stoppel</p>
    </footer>
    <!-- END FOOTER -->

</body>
</html>