{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/Blazerstyle.css' %}">
</head>
<body>
    <!-- NAV BAR -->
    <nav>
        <ul>
            <li><a href="{% url 'BlazerStats_Home' %}">Home</a></li>
        </ul>
    </nav>
    <!-- END NAV BAR -->

    <!-- HEADER -->
    <header>
        {% block header %}{% endblock %}
    </header>
    <!-- END HEADER -->

    <!-- BODY -->
    <main>
        {% block content %}{% endblock %}
    </main>
    <!-- END BODY -->

    <!-- FOOTER -->
    <footer>
        <p>Blazer Stats App &#169;2021 | By Jeffrey Stoppel</p>
    </footer>
    <!-- END FOOTER -->

</body>
</html>