<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <!-- NAV BAR -->
    <div class="page_container">
        <ul class="topnav">
            <li><a href="#home">Home</a></li>
        </ul>
    </div>
    <!-- END NAV BAR -->

    <!-- HEADER -->
    <header>
        {% block header %}{% endblock %}
    </header>
    <!-- END HEADER -->

    <!-- BODY -->

    <!-- END BODY -->



</body>
</html>