{% extends "BlazerStats/base.html" %}
{% load static %}
{% block title %} Players {% endblock %}

{% block header %}
    <h1>Blazer Players</h1>
{% endblock %}

{% block content %}
    <div class="container">
        {% for Player in player_list %}
            <strong>{{ Player }}</strong>
            <ul>
                <li>{{ Player.Seasons }}</li>
                <li>{{ Player.Player_Efficiency_Rating }}</li>
                <li>{{ Player.Points_Per_Game }}</li>
                <li>{{ Player.Win_Shares }}</li>
                <li>{{ Player.Hall_of_Fame }}</li>
            </ul>
        {% endfor %}

    </div>
{% endblock %}
