{% extends "BlazerStats/base.html" %}
{% load static %}
{% block title %} Players {% endblock %}

{% block header %}
    <h1>Blazer Players</h1>
{% endblock %}

{% block content %}
    <div class="container">
        {% for Player in player_list %}
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">Player</th>
                        <th scope="col">Seasons</th>
                        <th scope="col">PER</th>
                        <th scope="col">PPG</th>
                        <th scope="col">Win Shares</th>
                        <th scope="col">Hall of Fame</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row"></th>
                        <td>{{ Player }}</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td>{{ Player.Seasons }}</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td>{{ Player.Player_Efficiency_Rating }}</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td>{{ Player.Points_Per_Game }}</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td>{{ Player.Win_Shares }}</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td>{{ Player.Hall_of_Fame }}</td>
                    </tr>
                </tbody>
            </table>

        {% endfor %}

    </div>
{% endblock %}
