{% extends "DNDCharacters/dnd_characters_base.html" %}

{% block title %}Dungeons and Dragons Characters!{% endblock %}

{% block header %} <h1 class="welcomeh1">Currently Active Characters: </h1>{% endblock %}

{% block content%}
    <div class="">



                    <h1>Character Name</h1>

                {% for character in characters %}

                    <ul><a href="{% url 'show_character' character.id %}"> {{ character }} </a></ul>

                {% endfor %}


    </div>

{% endblock %}
