{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> CommercialAirplanes Collector </title>
    <div style="background-color:white;" class="topnav">
        <a class="" href="#home">Home</a>
        <a class="" href="#Collection">Commercial Airplane Addition</a>
        <a class="" href="#contact">Contact Me</a>
    </div>
</head>
<body style="background-color:blue;">

</body>

<footer>
    <a>Created by Sean M Crawford</a>
</footer>
</html>