{% extends "texmex_base.html" %}

{% block title %}Tex-Mex{% endblock %}

{% block header %}Edit/Delete Recipe:{% endblock %}

{% block content %}

<div class="admin_panel">
    <form name="foodForm" method="POST" action="/{{ form.pk }}/details/">
        <table>
            {% csrf_token %}
            {{ form.non_field_errors }}
            {{ form.as_table }}
        </table>
        <div class ="frmBtn_container">
            <input type="submit">
            <div class="frmBtn_container">
                <button class="btn"><a href="../{{ form.pk }}delete/">DELETE</a></button>
                <button class="btn"><a href="{% url 'view_recipes' %}">CANCEL</a></button>
            </div>
        </div>
    </form>

</div>




{% endblock %}