{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" type="text/css" href="{% static '/css/artgallery.css' %}">
        <title>{% block title %} Poseidon's Eye Gallery {% endblock %}</title>
    </head>
<!-- NAV BAR -->
    <header>
        <div class="navbar">
            <ul >
                <li><a href="{% url 'ArtGallery_home' %}"></a>HOME</li>
                <li><a href="#">FEATURED ART</a></li>
                <li><a href="{% url 'ArtGallery_login' %}"></a>APPLICATION</li>
            </ul>
        </div>
        {% block header %}<h2 class="header">POSEIDON'S EYE GALLERY</h2>{% endblock %}
    </header>

    <body id="body">
        <div>
            {% block content %}{% endblock %}
        </div>
    <section class="footer">
            <p class="footer-text"> Poseidon's Eye Gallery |&nbsp; Portland, OR &nbsp;| 2021</p>
            <br>
    </section>
 </body>
</html>