{% extends 'NoteTaking/NoteTaking_base.html' %}

{% block title %} NoteTaking - Details {% endblock title %}


{% block content %}
    <div class="notetaking_page_title">
        <div class="notetaking_page_title">
            <h1>Details</h1>
        </div>
        <hr>
        <div class="list_notes">
            <table>
                {% csrf_token %}
                {{ form.non_field_errors }}
                {{ form.as_table }}
            </table>
            <hr/>
            <div>
                <button class="btn btn-primary">
                    <a href="../{{ form.pk }}Edit" style="color: white;">
                        Edit Note
                    </a>
                </button> -
                <button class="btn btn-danger">
                    <a href="../{{ form.pk }}Delete" style="color: white;">
                        Delete Note
                    </a>
                </button> -
                <a href="{% url 'NoteTaking_home' %}">
                    <button type="button" class="btn btn-secondary" value="Cancel">
                        Go back
                    </button>
                </a>
            </div>
        </div>
    </div>
{% endblock content %}