<!-- This page displays results obtained from 'spoonforkbacon.com/category/dessert-recipes/'for the Desserts App -->

{% extends "Desserts/desserts_base.html" %}

{% load static %}

{% block title %}Spoon Fork Bacon{% endblock %}

{% block content %}
<div class="card mb-3">
  <div class="card-body">
    <h1 class="card-title text-info">Spoon Fork Bacon Desserts</h1>
    <table class="table">
        <thead> <!-- table headings -->
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody> <!-- table rows -->
        {% for names, descriptions, recipe_urls in zipped_list %}
            <tr>
                <td><a href="{{ recipe_urls }}"> {{ names }}</a></td>
                <td> {{ descriptions }} <a href="{{ recipe_urls }}">Read More </a> </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
  </div>
</div>
<img src ="/static/images/dessert1.jpg" class="img-fluid cardImg" alt="muffin pan with raw batter">


{% endblock %}