<!-- This is the api results page for the Desserts App -->

{% extends "Desserts/desserts_base.html" %}
{% load static %}

{% comment %}
  This is page uses an API to scrape recipes from an Asian Recipe Site.
{% endcomment %}


{% block title %} Recipe Details {% endblock %}

{% block content %}

<!-- Recipe Card -->
<div class="card pb-3">
      <div class="card-header bg-info text-white">
           <h5 class="card-title">Test page</h5> <!-- recipe name -->
           <p class="card-text"> </p>
      </div>

      <div class="card-body border-info">
            <h6 class="font-weight-bold"> Name: </h6>
            <p class="card-text"> </p>
            <h6 class="font-weight-bold"> Category: </h6>

            <button type="submit" class="btn btn-info px-3 my-4"></button>

      </div>
</div>

{% endblock %}