<!-- This page displays results obtained from 'spoonforkbacon.com/category/dessert-recipes/'for the Desserts App -->

{% extends "Desserts/desserts_base.html" %}

{% load static %}

{% block title %}Spoon Fork Bacon{% endblock %}

{% block content %}
<div class="card mb-3">
  <img src="/static/images/dessert1.jpg" class="img-fluid card-img-top" alt="muffin pan with raw batter">
  <div class="card-body">
    <h5 class="card-text text-muted font-italic">Visit <a class="text-info" href="https://www.spoonforkbacon.com/">Spoon Fork Bacon</a> for more excellent recipes!</h5>
    <table class="table my-4">
        <thead> <!-- table headings -->
            <tr class="text-muted font-italic">
                <th scope="col">Name</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody> <!-- table rows, display data from zipped_list -->
        {% for names, descriptions, recipe_urls in zipped_list %}
            <tr>
                <td><a class="text-info font-weight-bold" href="{{ recipe_urls }}"> {{ names }}</a></td>
                <td> {{ descriptions }} <a class="text-info font-weight-lighter" href="{{ recipe_urls }}">Read More </a> </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
</div>



{% endblock %}