<!-- This is the home page of Movie Reviews App --->

{% extends "MovieReviews/moviereviews_base.html" %}

{% load static %}

{% block title %} Movie Reviews {% endblock %}

<!--- Header for this page --->
{% block header %} Welcome to my Movie Review App! {% endblock %}

{% block content %}
                    <p>If you love movies you're in the right place!<br>
                    You can see all our reviewed movies and even<br>
                    create your own reviews too!</p>

{% endblock %}




