
{% extends "MovieReviews/moviereviews_base.html" %}

{% load static %}

{% block title %} See Our Movie Reviews {% endblock %}

{% block content %}

        <h1> Reviewed Movies </h1>

        <div class="movie_data">
                <table>
                        <tr>
                                <th>Genre</th>
                                <th>Title</th>
                                <th>Actor</th>
                                <th>Director</th>
                                <th>Stars</th>
                        </tr>
                        {% for movies in movies %}
                        <tr>
                                <td>{{ movies.genre }}</td>
                                <td>{{ movies.title }}</td>
                                <td>{{ movies.actor }}</td>
                                <td>{{ movies.director }}</td>
                                <td>{{ movies.stars }}</td>
                        </tr>

                        {% endfor %}
                </table>
        </div>



{% endblock %}


