{% extends "EdTech/EdTech_Base.html" %}
{% load static %}
{% block title %} Educational Technology - Add a Resource{% endblock %}

{% block header %}
<h1>New Resource Form</h1>
{% endblock %}

{% block content %}
<div id="form-container">
    <form method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <button id="add-EdTech-button" class="btn btn-primary" type="submit" name="EdTech_Create">Add Resource</button>
    </form>
</div>
{% endblock %}