{% extends "EdTech/EdTech_Base.html" %}
{% load static %}
{% block title %} Educational Technology Details {% endblock %}

{% block header %}
    <h1>Resource Details</h1>
{% endblock %}

{% block content %}
    <div class="form-container">
        <table id="table">
            <thead>
                <tr>
                    <th id="th">Name</th>
                    <th id="th">URL</th>
                    <th id="th">Is there a free version?</th>
                    <th id="th">Key Features</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="td">{{ details.name }}</td>
                    <td id="td">{{ details.URL }}</td>
                    <td id="td">{{ details.free_version }}</td>
                    <td id="td">{{ details.key_features }}</td>
                </tr>
            </tbody>
        </table>
        <a href="{% url 'EdTech_Edit' details.pk %}"><button>Edit</button></a>
        <a href="{% url 'EdTech_Delete' details.pk %}"><button>Delete</button></a>
    </div>
{% endblock %}