{% extends "resorts_base.html" %}

{%block content%}
<table>
    <tr>
    <th>
        Name
    </th>
    <th>
        Type
    </th>
    <th>
        Country
    </th>
       <th>
           Rating
       </th>
    <th>
        Description
    </th>
    </tr>
    {% for r in resort %}
    <tr>
        <td>
          {{r.name}}
        </td>
        <td>
            {{r.type}}
        </td>
        <td>
            {{r.country}}
        </td>
        <td>
           {{r.rating}}
        </td>
        <td>
          {{r.description}}
        </td>

    </tr>
    {% endfor %}
</table>

{%endblock%}
