{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <div class="">

        <!-- Navbar -->
        <div class="navbar">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Add Material</a></li>
                <li><a href="">Access Inventory</a></li>
            </ul>
        </div>
        <!-- End Navbar -->

        <!-- content loaded from other pages -->
        {% block content %}
        {% endblock %}
        <!-- end content -->

        <!-- Footer -->
        <footer class="">
            <p id="">&nbsp;&nbsp;&copy; 2022 - Chemical Inventory &reg;</p>
        </footer>
    </div>
</body>
</html>