<!DOCTYPE html>
<html lang="en">
<head>
<title>Home Page</title>

</head>
<body>

<h1>Pro Wrestling</h1>
<p>This website is dedicated to ProWrestling</p>

<!-- Navigation Bar-->
<div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="#prowrestlers">Pro Wrestlers</a>
  <a href="#photography">Photography</a>
</div>
<!--END NAVBAR-->

<!--PAGE CONTENT-->
<div id="content">
  {% block content %}{% endblock %}
</div>
<!--END OF PAGE CONTENT-->

<!--Background Image-->
<div id="background image">
    <img src="{% static 'images/HomepageImages' %}" alt="backgroundimage.jpeg">
</div>
<!--END BACKGROUND IMAGE-->

</body>
</html>