{% load static %}
<!DOCTYPE html>
<html lang="en" class="bg_img">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'CSS/one_page_website.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'CSS/animations1.css' %}">
    </head>


    <body>
        <div class="page_container" style="padding: 60px">
            <header class="header-title">
                <h1 style="color: black">{% block header %}{% endblock %}</h1>
            </header>
            <nav>
                {% block nav %}{% endblock %}
            </nav>
        </div>
        {% block content %}{% endblock %}

        {% include "Masonry/Masonry_footer.html" %}
    </body>
</html>