{% load staticfiles %}
{% load static %}

{% block nav %}{% include "Masonry/Masonry_navbar.html" %}{% endblock %}

{% block title %}Mina's Masonry{% endblock %}

{% block header %}Gallery:{% endblock %}


<!-- GALLERY -->
<section id="gallery">
    <div class="container">
        <h2 style="text-align:center">Gallery</h2>


            <div id="myModal" class="modal">
                <span class="close cursor" onclick="closeModal()">&times;</span>
                <div class="modal-content">

                    <div class="mySlides">
                        <div class="numbertext">1 / 3</div>
                        <img src="/static/imagesmasonry/masonrypic_1.jpg" style="width:100%">
                    </div>

                    <div class="mySlides">
                        <div class="numbertext">2 / 3</div>
                        <img src="/static/imagesmasonry/masonrypic_2.jpg" style="width:100%">
                    </div>

                    <div class="mySlides">
                        <div class="numbertext">3 / 3</div>
                        <img src="/static/imagesmasonry/masonrypic_3.jpg" style="width:100%">
                    </div>

                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>

                <div class="caption-container">
                    <p id="caption"></p>
                </div>

            </div>
            </div>
    </div>
</section>
		<!-- END GALLERY -->
