{% extends "Masonry/Masonry_base.html" %}
{% load static %}

{% block nav %}{% include "Masonry/Masonry_navbar.html" %}{% endblock %}

{% block title %}Mina's Masonry{% endblock %}

{% block content %}

<h1 class="viewHead">All Quotes</h1>

<div class="table_container">
    <table class="table">
        <tName>
            <tr class="tName">
                <th>Recipient Name</th>
                <th>Address</th>
                <th>Service/Product</th>
                <th>Description</th>
                <th>Details</th>
                <th>Est. Cost</th>
            </tr>
        </tName>
        {% for quote in quotes %}
        <tFrame>
            <tr class="tFrame">
                <td><a href="{% url 'masonry_details' quote.pk %}">{{ quote.Namerec }}</a></td>
                <td>{{ quotes.Namerec }}</td>
                <td>{{ quotes.Address }}</td>
                <td>{{ quotes.Service_Product }}</td>
                <td>{{ quotes.Description }}</td>
                <td>{{ quotes.Details }}</td>
                <td>{{ quotes.Est_cost }}</td>
            </tr>
        </tFrame>
        {% endfor %}
    </table>

    <div class="fromBtn_container">
        <a href="{% url 'createQuote' %}"><button type="button" class="btn">Create New Product</button></a>
        <a href="{% url 'masonry_home' %}"><button type="button" class="btn">Logout of Profile</button></a>
    </div>

</div>



{% endblock %}