{% extends "Masonry/Masonry_base.html" %}
{% load static %}

{% block nav %}{% include "Masonry/Masonry_navbar.html" %}{% endblock %}

{% block title %}Mina's Masonry{% endblock %}

{% block content %}

<div class="quote_panel">
    <form name="quoteForm" method="POST" action="">
        <div class="formObject">
            {% csrf_token %}
            <label for="menu_id">Select a product from the list to edit:</label>
            <select id="menu_id" name="menu" onChange="top.location.href=this.options[this.selectedIndex].value;">
            {% for quote in quotes %}
                <option value="../{{ quote.pk }}/details/">{{ quote.Namerec }}</option>
            {% endfor %}
            </select>
        </div>
    </form>

    <div class="fromBtn_container">
        <a href="{% url 'createQuote' %}"><button type="button" class="btn">Create New Product</button></a>
        <a href="{% url 'masonry_home' %}"><button type="button" class="btn">Logout of Profile</button></a>
        <a href="{% url 'masonry_details' %}"><button type="button" class="btn" value="Quote Details">Details</button></a>
    </div>

</div>



{% endblock %}