{% extends "Resellers_MarketWatch/MarketWatch_base.html" %}

{% block title %}Account{% endblock %}

{% block content %}
        <div class="container my-container">
            <div class="row my-row">
                <div class="col-md-12 center-align-items-start my-col">
                    Row 1 Col 1
                </div>
            </div>
                <div class="row my-row">
                    <div class="col-md-6 center-align-items-start my-col form-group">
                        Row 2 Col 1
                        <form method="post">
                            <table>
                                {% csrf_token %}
                                {{ form.as_table }}
                            </table>
                            <br>
                            <input class="btn btn-primary" type="submit" value="submit">
                        </form>
                    </div>
                    <div class="col-md-6 center-align-items-start my-col">
                        Row 2 Col 2
                    </div>
                </div>
        </div>
{% endblock %}










