{% extends "PreciousMetals_base.html" %}

{% block title %} Details {% endblock title %}


{% block content %}
<!-- single item details -->
<h2>Item Details</h2>
<div class="detstyle">
    <table>
        <tr>
            <th>Type</th>
            <th>Make</th>
            <th>Year</th>
            <th>Price</th>
            <th>Ounces</th>
            <th>Form</th>
            <th>Count</th>
        </tr>
        <!--  contents -->
        <tr>
            <td>{{ item_dets.type }}</td>
            <td>{{ item_dets.make }}</td>
            <td>{{ item_dets.year }}</td>
            <td>{{ item_dets.price }}</td>
            <td>{{ item_dets.ounces }}</td>
            <td>{{ item_dets.form }}</td>
            <td>{{ item_dets.count }}</td>
        </tr>
    </table>
</div>
<br><br>

<button><a class="submit" text="Edit" href="{% url 'edit_item' item_dets.id %}">Edit</a></button>

{% endblock content %}