{% extends "Traveling/Traveling_base.html" %}

{% load static from staticfiles %}



{% block title %}Travel Agency{% endblock %}

{% block header %}Everywhere in your hand{% endblock %}

{% block content %}


    <h1><span style="color: pink">Everything within your hand's reach!!</span></h1>
    <div class="container">

          <p class="text"><i>
        Wanna get away to an amazing vacation to exotic places?<br>
        Checkout our travel plans and package. You are one click away!</i>
          </p>
        <img src="{% static 'images/travel.jpg' %}">
        <button type="button"><a href="" >Check Flights!</a></button>
        <button type="button"><a href="">Sing Up!</a> </button>

    </div>


{% endblock %}