{% extends "Traveling/Traveling_base.html" %}

{% load static from staticfiles %}



{% block title %}Edit your account{% endblock %}

{% block header %}Edit!{% endblock %}

{% block content %}

<div>
    <form name="TravelerForm" method="POST" action="">


        <table>
            {% csrf_token %}
            {{ form.as_p }}

        </table>

        <div>
            <button type="submit">Confirm</button>
            <div>
                <button ><a href="{% url 'Traveling_details_view' %}" >Delete</a></button>
                <button ><a href="{% url 'Traveling_place' %}" >Cancel</a></button>
            </div>
        </div>
    </form>
</div>










{% endblock %}