
/* basic styling for webpage */
body {
    background-color: #17191b;
}

/* basic styling for my tables */
table {
    margin-left: auto;
    margin-right: auto;
    color: white;
}

/* fonts and general text styling */
h1 {
    color: yellow;
    text-align: center;
    font-family: Impact;
    letter-spacing: 5px;
}

p {
    color: yellow;
    text-align: center;
    font-family: Trebuchet MS;
    letter-spacing: 2px;
}

form {
   text-align:center;
}