{% extends "Nutrition/Nutrition_base.html" %}

{% block title %}Nutrition for Immunity{% endblock %}

{% block header %}Welcome to Nutrition for Immunity!{% endblock %}

{% block content %}

<!--RENDERS SCRAPED NUTRITION DATA IF REQUESTED BY USER ON Nutrition_scrapedcontent.html PAGE-->
{% if nutrition_data %}

<h2>Scraped Data</h2>
		<div class="tablescrollscraped">
			<table class="table table-responsive" id ="transactions-table">

				<tr id="headerRow">
					<td>Nutritional Supplement News</td>


				</tr>
				{% for i in nutrition_data.values %}

				<tr>


					<td class="center">{{ i }}</td>



				</tr>
				{% endfor %}

			</table>
		</div>
{% endif %}
<!--END SCRAPED CONTENT RENDERING-->







{% endblock %}

