{% extends 'Nutrition/Nutrition_base.html' %}
{% load static %}


{% block title %}Database Contents{% endblock %}
{% block content %}

			<h2>ACCOUNTS IN DATABASE</h2>

			<table class="table table-responsive" id ="transactions-table">

				<tr id="headerRow">
					<td>Account ID</td>
					<td>Name</td>

				</tr>
				{% for account in accounts %}
				<tr>
					<td class="center">{{ account.id }}</td>
					<td class="center"><a href="{% url 'display_details' account.id %}"><button class="btn">{{ account.name }}</button></a></td>

				</tr>
				{% endfor %}

			</table>

            <h2>NUTRITION PATHS IN DATABASE</h2>

			<table class="table table-responsive" id ="transactions-table">

				<tr id="headerRow">
					<td>Nutrition ID</td>
					<td>Name</td>
					<td>Area of Health</td>


				</tr>
				{% for nutritionquery in nutritionqueries %}
				<tr>
					<td class="center">{{ nutritionquery.id }}</td>
					<td class="center">{{ nutritionquery.name }}</td>
					<td class="center">{{ nutritionquery.area_of_health }}</td>

				</tr>
				{% endfor %}

			</table>


			<br><br>
{% endblock %}