


body {
	position: relative;
	overflow: hidden;
}
html, body {
    height: 100%;
    margin: 0;
	padding: 0;
}
p {
	padding: 2px 16px;
	font-size: 15px;
	font-family: 'Lato', Georgia, sans-serif;
	color: #666666;
}
h1 {
    color: #0404B4;
    font-family: 'Lobster';
    text-shadow: 3px 2px 1px rgba(181, 184, 255, 1);
    margin:0 auto;
    background-color: DarkGrey;
    text-align: center;
}
h2 {
    color: #0404B4;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
header {
    color: #0404B4;
    font-family: 'Lobster';
    text-shadow: 3px 2px 1px rgba(181, 184, 255, 1);
    margin:0 auto;
    background-color: DarkGrey;
    font-size: 40px;
    text-align: center;
    padding-left: 20px;
    display: flex;
}