{% extends "Recipes_Base.html" %}
{% load static %}
{% block title %}Recipes{% endblock %}

{% block header %}
                <h1>Recipes API</h1>
                <p></p>
{% endblock %}

{% block content %}

 <form name="APIForm" method="POST">

    <table>
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.as_table }}
    <table>
 </form>
 <script>
    var data = {{response}}
    var json = JSON.parse(data);

    document.write(json["title"]);
    document.write(json.title);
 </script>

{{response}}


{% endblock %}