{% extends "Personality_base.html" %}

{% block title %}Personality{% endblock %}

{% block header %}Take the test or die!{% endblock %}

{% block content %}

<h3>Who are you?</h3>
	<div id="account-form">
		<form method="POST">
			{% csrf_token %}
			{{form.as_p}}
			<br>
			<h3>25-item Personality Questionnaire</h3>
			<br>
			<table border="1">
			{{test}}
			</table>
			<button id="new-account-button" type="submit" name="Save_Account">Create Account</button>
		</form>
	</div>

{% endblock %}