{% extends "IceHockey_base.html" %}
{% load static %}
{% block title %}Ice Hockey Details{% endblock %}

{% block header %}Item Details{% endblock %}

{% block content %}
<div class="table-striped w-80 mx-auto">
    <table class="table table-info table-bordered text-center">
        <thead>
            <tr>
                <th scope="col" data-field="first_name" class="w-25">First Name</th>
                <th scope="col" data-field="last_name" class="w-25">Last Name</th>
                <th scope="col" data-field="favorite_team" class="w-25">Favorite Team</th>
                <th scope="col" data-field="favorite_player" class="w-25">Favorite Player</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ details.first_name }}</td>
                <td>{{ details.last_name }}</td>
                <td>{{ details.favorite_team }}</td>
                <td>{{ details.favorite_player }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{% url 'IceHockey_edit' details.pk %}"><button type="button" class="btn btn-primary btn-lg w-25 mx-auto">Edit</button></a>
    <a href="{% url 'IceHockey_delete' details.pk %}"><button type="button" class="btn btn-primary btn-lg w-25 mx-auto">Delete</button></a>
    <a href="{% url 'IceHockey_scrapeddata' details.pk %}"><button type="button" class="btn btn-primary btn-lg w-25 mx-auto">Scrape Web for Data</button></a>

</div>
{% endblock %}