{% extends "IceHockey_base.html" %}
{% load static %}
{% block title %}Ice Hockey{% endblock %}
{% block content %}
<div class="container-fluid mx-auto" style="width: 90%">
    <div id="jtron" class="jumbotron jumbotron-fluid text-info">
      <div class="container m-5">
          <h1>Welcome to the Ice Hockey App</h1>
          <h5 class="lead text-info">Keep track of your favorite teams and players!</h5>
          <hr class="text-light">
          <a class="btn btn-info btn-lg" href="#" role="button">New to the Game?</a>
      </div>
    </div>
    <div class="row" id="homerow">
        <div class="col-sm p-3 bg-light text-center">

            <h1 class="text-info pb-3">Hockey News</h1>
            {% for news_titles, news_links, news_dates in zipped_list %}
            <h4 class="text-info text-left ml-3"><a class='text-info' href={{ news_links }}>{{ news_titles }}</a>
            </h4><p class="text-dark text-left ml-3 pb-3">{{ news_dates }}</p>
            {% endfor %}

        </div>
        <div class="col-sm p-3 bg-light text-center">
            <h2 class="text-info">Top Players</h2>


        </div>
        <div class="col-sm p-3 bg-light text-center">
            <h2 class="text-info">NHL Standings</h2>
        </div>
  </div>
</div>
{% endblock %}