{% extends 'HappyHour/HH_Base.html' %}
	{% block title%}Happy Hours{% endblock %}
    {% block header %}Happy Hours{% endblock %}

	{% block content %}
		<div>
            <div class="review_list">
                {% for a in restaurants %}
                    <div class="restaurant">
                        <h2>
                            {% filter upper %}
                                {{ a.name }} &#8212;
                            {% endfilter %}
                        </h2>
                    </div>
                {% endfor %}
            </div>
		</div>
	{% endblock %}