{% extends "MMAStats/MMA_base.html" %}
{% load static %}

{% block content %}
{% comment %}
    this screen displays all basic entries made on fighters
{% endcomment %}

<section id="Stats">
    <h1>MMA Stats</h1>
    <p>Current Champions</p>
    <center>
        <a href="{% url 'MMA_Create' %}" class="btn btn-outline-warning">Create Entry</a>
    </center>
    <br>
    <table border="1", width="600">
        <thead>
            <tr>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Defenses</td>
                <td>Pound For Pound Rank</td>
                <td>Record</td>
            </tr>
        </thead>
        <tbody>
            {% for champion in champion_stats %}
                <tr>
                    <td><a href="{% url 'MMA_Details' champion.id %}">{{ champion.first_name }}</a></td>
                    <td>{{ champion.last_name }}</td>
                    <td>{{ champion.defenses }}</td>
                    <td>{{ champion.p4p_rank }}</td>
                    <td>{{ champion.record }}</td>
                    <td>
                        <div class="btns">
                            <a href="{% url 'MMA_Update' champion.id %}" class="btn btn-outline-success">Edit</a>
                            <a href="{% url 'MMA_Delete' champion.id %}" class="btn btn-outline-danger">Delete</a>
                        </div>
                    </td>
            {% endfor %}
                </tr>
        </tbody>
    </table>

</section>
{% endblock %}