{% extends "MMAStats/MMA_base.html" %}
{% load static %}

{% block content %}
<section id="Stats">
    <h1>MMA Stats</h1>
    <p>Current Champions</p>

    <table border="1", width="600">
        <thead>
            <tr>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Defenses</td>
                <td>Pound For Pound Rank</td>
                <td>Record</td>
            </tr>
        </thead>
        <tbody>
            {% for champion in champion_stats %}
                <tr>
                    <td><a href="{% url 'MMA_Details' champion.id %}">{{ champion.first_name }}</a></td>
                    <td>{{ champion.last_name }}</td>
                    <td>{{ champion.defenses }}</td>
                    <td>{{ champion.p4p_rank }}</td>
                    <td>{{ champion.record }}</td>
            {% endfor %}
                </tr>
        </tbody>
    </table>

</section>
{% endblock %}