{% extends "BestCities/Best_Cities_base.html" %}

{% load static %}

{% block title %}City Edit{% endblock %}

{% block header %}Choose a city to edit.{% endblock %}

{% block content %}

<div>
    <form name="PlacesForm" method="POST" action="{% url 'Best_Cities_edit' item.id %}">
        <div>
            <p>Make your edits and save them.</p>
            <select id="menu_id" name="menu" onChange="top.location.href=this.options[this.selectedIndex].value;">
                <option value="..details/{{ item.pk }}/">{{ item.city }}</option>
            </select>
            {% csrf_token %}
            {{ form.as_p }}
            <div>
                <input type="submit" value="save">Save Changes</input>
            </div>
        </div>
    </form>
</div>
{% endblock %}