{% extends "BestCities/Best_Cities_base.html" %}

{% load static %}

{% block title %}Top Cities{% endblock %}

{% block header %}These are the top cities according to our users!{% endblock %}

{% block content %}

<div>
    <form name="PlacesForm" method="POST" action="../details/">
        <table class="table-center">
            <tr>
                <th>City</th>
                <th>State</th>
            </tr>
            {% for places in topC %}
            <tr>
                <td><a href="{% url 'Best_Cities_details' %}">{{ places.city }}</a></td>
                <td>{{ places.state }}</td>
            </tr>
            {% endfor %}
        </table>
    </form>
</div>

{% endblock %}