{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>GSW Statistics</title>
    <meta name="viewport" content="width=device-width, initial-scale-1.0">
    <link rel="stylesheet" type="text/css" href="{% static '/css/WarriorStatsStyle.css' %}">
    <title>Golden State Warriors Statistics</title>
</head>



<body>

<div id="navbar">
    <ul>
        <li>Home</li>
        <li>Player Stats</li>
        <li>Team Stats</li>
    </ul>
</div>

<div id="block-footer">
    <p id="footer">Golden State Warrior Statistics &copy 2021 | Jesse Kuykendall</p>
</div>

</body>
</html>