.backdrop {
padding-top: 2em;
text-align: center;
background-color: black;
color:white;
background-image: url("../SciFiWatchlist/images/SciFiWatchlist_image4.jpg");
background-attachment: fixed;
background-size: 100%;
background-position: top;
background-repeat: no-repeat;
font-family: 'Orbitron', sans-serif;
}

.navbar a{
color:white;
size: large;
font-family: 'Orbitron', sans-serif;
font-size: 2em;
padding: 40px;
}

h1{
font-size:3em
}

#new-account-button{
padding: 20px;
background-color: white;
color: black;
font-family: 'Orbitron', sans-serif;
outline: 2px solid black;
font-size: 20px;
}

#movie-form{
padding: 20px;
margin:0,0,0,0;
}

p{
padding:5px;
font-size:25px;
border: 1px solid black;
text-align:top;
}

input{
padding:10px;
width:25%;
margin: 10px;
box-sizing: border-box;
}
