.bg_img {
    background-color: lightgreen;
    background-image: url('AppBuilder9000/Turtles/static/images/Turtle1.jpg');
    background-size: cover;
    background-attachment:fixed;
    background-position: center;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}