
<nav class="navbar navbar-expand-lg navbar-light my-2 my-lg-10 color">
<ul class="navbar-nav">
  <li class="nav-item active">
    <a class="nav-link" href="{% url 'Veggie_home' %}">Home</a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="{% url 'veggie_form' %}">Add Recipe</a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="{% url 'veggie_recipe' %}">Recipes</a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="{% url 'veggie_api' %}">API Joke</a>
  </li>
      <li class="nav-item active">
    <a class="nav-link" href="{% url 'veggie_api_2' %}">API wine</a>
  </li>
  </li>
      <li class="nav-item active">
    <a class="nav-link" href="{% url 'veggie_bs' %}">BeautifulSoup</a>
  </li>
</ul>
</nav>
<hr>