{% extends "Veggie_base.html" %}

{% block title %}BeautifulSoup{% endblock %}

{% block content %}

<div class="container">
    <br>
    <h3>Beautiful Soup</h3>
    <br>
    <h4>Scraped from <a target="_blank" href="https://simple-veganista.com/">"https://simple-veganista.com/":</a></h4>
    <br>
    <h2>Here is the website's introduction:</h2>
    <br>
    <p><strong>{{ info }}</strong></p>
    <br>



</div>

{% endblock %}



<h4>Scraped from <a target="_blank" href="https://www.crummy.com/software/BeautifulSoup/bs4/doc/">"https://www.crummy.com/software/BeautifulSoup/bs4/doc/":</a></h4>
<p>{{ info }}</p>

