{% extends 'HousingCosts/HousingCosts_base.html' %}
{% load static %}

{% block title %}Housing Costs - List{% endblock %}

{% block header %}All tracked Housing Costs{% endblock %}

{% block content %}
    <table>
        <thead>
        <tr>
            <th>Tagline</th>
            <th>Location</th>
            <th>Price</th>
        </tr>
        </thead>
    {% for house in house_list %}
        <tr>
            <td>{{ house.tagline }}</td>
            <td>{{ house.city }}, {{ house.state }}</td>
            <td>{{ house.price }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}