{% extends 'HousingCosts/HousingCosts_base.html' %}
{% load static %}

{% block title %}Housing Costs - Realty API{% endblock %}

{% block header %}Houses Listed in {{ payload.city }}, {{ payload.state_code }}{% endblock %}

{% block content %}
    <p>Data acquired from 'Realty in US' API:</p>
    <table class="w-75 table table-striped">
        <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Address</th>
            <th scope="col">Beds</th>
            <th scope="col">Baths</th>
            <th scope="col">SqFt</th>
            <th scope="col">Price</th>
        </tr>
        </thead>
    {% for i in listings %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ i.address }}</td>
            <td>{{ i.beds }}</td>
            <td>{{ i.baths}}</td>
            <td>{{ i.sqft }}</td>
            <td><strong>{{ i.price }}</strong></td>
        </tr>
    {% endfor %}
    </table>
    <p>Or, you can Search Below:</p>
    <form action="{% url 'realty_api_display' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-info">Submit</button>
    </form>
{% endblock %}