% extends 'Composers/composers_base.html' %}
{% load static %}

{% block title%}View Composers{% endblock %}
{% block header%}Composers List{% endblock %}

{% block content %}

<div id="table-container" class="table-responsive mx-auto">
    <table class="table table-hover">
        <thead>
            <tr> <!--Headings for table-->
                <th scope="col">Era</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Birth Year</th>
                <th scope="col">Death Year</th>
                <th scope="col">Nationality</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody> <!--table information with first letter capitalized-->
            <tr>
                <td>{{item.type | capfirst}}</td>
                <td>{{item.first_name | capfirst}}</td>
                <td>{{item.last_name | capfirst}}</td>
                <td>{{item.birth_year | capfirst}}</td>
                <td>{{item.death_year | capfirst}}</td>
                <td>{{item.nationality | capfirst}}</td>
                <td>{{item.description | capfirst}}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}