{% extends 'Composers/composers_base.html' %}
{% load static %}

{% block title%}Composers Edit{% endblock %}
{% block header%}Edit Composer{% endblock %}

{% block content %}
        <h3>Edit Composer Information</h3>
            <div id="form-container" class="form-group">
                <form method="POST">
                    {% csrf_token %}
                        <table id="table" class='table table-dark table-bordered table-centered w-50 '>
                        {{ form.as_table }}
                        </table>
                        <button type="submit" class="btn btn-primary">Edit Composer</button>
                </form>
            </div>
{% endblock %}