{% load static %}
<!---This is the basic template outline for my website.-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylsheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylsheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/composers_css.css' %}">


        <title> {% block title %} Composers R US {% endblock %}</title>
    </head>
    <header>
        <!--NavBar-->
        <ul class="Nav nav-pills nav-justified">
            <li><a href="{% url 'composers_home' %}">Home</a>
            <li><a href="#">Add New Composer</a></li>
            </li><a href="#">List of Composers</a></li>
        </ul>
    </header>
    <body id="body">
        <div class="composer-content">
            {% block content %} {% endblock %}
        </div>
    <section id="block-footer">
        <p id="footer-right"><a href="www.learncodinganywhere.com">theTechAcademy</a></p>
        <p  id="footer-left">&copy 2022 -- Micah K. Gooden</p>
    </section>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </body>
</html>