{% extends "musicreviews_base.html" %}
{% load static %}
{% block title %} View Reviews {% endblock %}
{% block header %} <div class="videotext"> music reviews </div> {% endblock %}

{% block content %}

<div>
    <form class="revForm" method="post" action="">
        <div>
            {% csrf_token %}

            <p class="bounce"> <br> {{ item.Artist }} <br><br>

            </p>
            <p>| {{ item.Album }} <br>| {{ item.Song }} <br>| {{ item.Review }} <br>| {{ item.Stars }} </p>
            <br>
            <br>
            <div>
                <a href="{% url 'createReview' %}"><button type="button" class="btn">Write new review</button></a>
                <a href="{% url 'editReview' item.id %}"><button type="button" class="btn">Edit review</button></a>
                <a href="{% url 'review_view' %}"><button type="button" class="btn">Cancel</button></a>
            </div>
        </div>
    </form>
</div>

{% endblock %}
