{% extends "musicreviews_base.html" %}
{% load static %}
{% block title %} Edit Review {% endblock %}
{% block header %} <div class="videotext"> edit music reviews </div> {% endblock %}

{% block content %}

    <div>
        <form class="revForm" method="post">
            <div>
                {% csrf_token %}
                {{ form.non_field_errors }}
                {{ form.as_p }}
            </div>
            <div>
                <input type="submit" class="btn" value="Update" name="Edit_Review">
                <a href="{% url 'review_view' %}"><button type="button" class="btn">Cancel</button></a>
                <a href="{% url 'delete' item.id %}"><button type="button" class="btn">Delete</button></a>
            </div>
        </form>
    </div>

{% endblock %}
