body {
    background-color: #353535;
    color: #00e600;
}

ul {
    background-color: #252525;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-bottom: 1px solid black;
}

li {
  float: left;
}

li a {
  display: block;
  color: #00ff00;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

li:last-child {
  float:right;
}

/* General Table Styling */
table {
    border-left: 1px black;
}

th{
	border-bottom: 1px solid black;
}

tr td{
	border: 1px solid black;
	word-wrap: normal;
	vertical-align: top;
	width: auto;
	height: 35px;
}

label {
	width: 125px;
	margin-left: 50px;
	font-weight: bold;
	opacity: initial;
}

input, select{
	border-bottom: 1px black;
}


/* ============================
|           Classes           |
============================ */

/* Header/Logo Title */
.topSection{
    position: fixed;
    top: 0;
    left: 0;
}


/* Header/Logo Title */
.cim_Title{
    background-color: #252525;
    padding: 60px;
    font-size: 30px;
    text-align: center;
    width: 100%
    left: 0;
}

.center {
	text-align: center;
	width: 15%;
}

.left{
	padding-left: 10px;
	width: 30%;
	word-wrap: normal;
}

.right {
	padding-right: 5px;
	width: 20%;
	text-align: right;
}

/* Page Content */
.content {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 15px 1rem;
    padding:20px;
    background-color: #353535;
}