/*========================
General Styling
========================*/
p {
	padding: 2px 16px;
	color: black;
	font-weight:bold;
	text-shadow: 0 0 4px white;
	border:black;

}


body {
    background-image: url('../img/workoutequipment8.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 5vh;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#355664;
    box-shadow: 10px 10px 5px 12px lightblue;

    }


/* Float the list items side by side */
ul.topnav li {
    float: left;
}
/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
ul.topnav li a:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
	transition: opacity 0.3s ease-in-out;
    background-color: #6c757d;
}
/* Hide the list item that contains the link that should
   open and close the topnav on small screens */
ul.topnav li.icon {
	display: none;
}

.hdr-title {
	padding: 2px 16px;
	text-align: center;
	color:  black;
	text-shadow: 0 0 4px white;
	border:black;
	background:#355664;


}

#footer-left {
    width: 40%;
    text-align: right;
    bottom:0;
 }
 #block-footer {
    clear: both;
    display: flex;
    width: 100%;
	-moz-box-sizing: border-box;
    margin: 0 auto;
    background-color: #6c757d;
    position: absolute;
    bottom: 0;
    height: 40px;
}
#block-footer a, #block-footer p {
    flex: 1;
    color: white;
    padding: 15px 15px;
	font-size: 14px;
    line-height: 10px;
	font-family:'PT Sans', Arial, Helvetica, sans-serif;
}
#footer-left {
    width: 40%;
    text-align: right;
}
#block-footer{
	float:left;
	clear:both;
	width:100%;
}
#block-footer a {
	color: white;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	text-decoration: none;
	outline: medium none;
}
#block-footer a:hover {
    color: #CABE96;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
}

.admin_panel {
    margin: 0 auto;
    width: 50%;
    height: 80%;
    background-color: #6c757d;
	border: 1px solid #d6d6d6;
	box-shadow: 0 1px 2px rgba(0,0,0,0.15);
	transition: all 0.3s ease-in-out;
	border-radius: 10px;
    transition: 0.3s;
}
a {
color: #57BAF5;
text-decoration: underline;
text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
}

.btn {
	flex-grow: 2;
    justify-content: center;
    text-align: center;
    display: inline-block;
    width: 150px; /* button size */
    margin: 2% 2% 2% 2%;
    color: white;
    background-color:#696969;
    padding: 10px 0px;
    text-decoration: none;
    font-size: 14px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid silver;
    border-radius: 5px;
    font-weight:bold;
}

.btn:hover {
    background-color: #355664;
    color: white;
    border: 2px solid #b3b3b3;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
	transition: opacity 0.3s ease-in-out;

}
/* This controls the form size and contents */
.admin_panel {
    margin: 0 auto;
    width: 50%;
    height: 80%;
    background-color: #c757d;
	border: 1px solid #d6d6d6;
	box-shadow: 0 1px 2px rgba(0,0,0,0.15);
	transition: all 0.3s ease-in-out;
	border-radius: 10px;
    transition: 0.3s;
}
.admin_panel:hover {
    frmBtn_container-shadow: 0 5px 15px rgba(0,0,0,0.3);
	transition: opacity 0.3s ease-in-out;
}
.formObject_container {
	display: block;
    width: 80%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    padding-top: 5%;
    background-color: #c757d;
}
.table_text {
    font-family:'PT Sans', Arial, Helvetica, sans-serif;
}

.bs-text {
    font-family:'PT Sans', Arial, Helvetica, sans-serif;
    padding: 10px 16px;
	text-align: center;
	word-spacing: 3px;
	line-height: 26pt;
	border-radius:5px 5px 5px 5px;
	background-color:#F0F8FF;
}
.bs-title {
	padding: 2px 1px;
	text-align: center;
	color:  black;
	text-shadow: 0 0 4px white;
	border:black;
	background-color: #F0F8FF;
	border-radius:5px 5px 5px 5px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
	font-style:italic;



}


