html {
    background: grey;
}

h1 {
    color: white;
    text-align: center;
}

p {
  color: black;
  text-align: center;
}

.myForm {
    text-align: left;
    margin: 10px;
}

input[type=button] {
    background-color: black;
    color: white;
    cursor: pointer;
}

input[type=button].hover {
    color: grey;
 }
