html {
    background: grey;
}

h1 {
    color: white;
    text-align: center;
}

.myForm {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    width: 40%;
}


label {
    color: black;
    margin: auto;
    display: block;
    float: left;
    width: 150px;
    text-transform: uppercase;
}



input {
    width: 350px;
    height: 30px;
}

textarea {
    width: 350px;
}

.btnSub {
    background-color: black;
    color: white;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
}

.btnSub:hover {
    background-color: teal;
    color: black;
    cursor: pointer;
}

.btnView {
    background-color: white;
    color: black;
    cursor: pointer;
    text-transform: uppercase;
}
.btnView:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 40%;
}
.right {
    float:right;
    padding: 10px;
}

#footer {
    text-align:center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: teal;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: black;
}