html {
    background: grey;
}

h1 {
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px black;
    font-weight: bolder;
    margin-top: 5px;
}

.myForm {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    width: 40%;
    background-color: teal;
    border: solid black 3px;
}

label {
    color: white;
    margin: 3px;
    display: block;
    float: left;
    width: 150px;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px black;
}

input {
    width: 350px;
    height: 30px;
    border: solid black 1px;
}

textarea {
    width: 350px;
    border: solid black 1px;
}

.btnSub {
    background-color: black;
    color: white;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    margin: 3px;
}

.btnSub:hover {
    background-color: teal;
    color: black;
    cursor: pointer;
}

.btnView {
    background-color: white;
    color: black;
    cursor: pointer;
    text-transform: uppercase;
}
.btnView:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 40%;
}
.right {
    float:right;
    padding: 10px;
}

#footer {
    text-align:center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: teal;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: black;
}

img {
    display: block;
    width: 200px;
    height: 280px;
    margin: 5px;
}

table {
    border: solid black 2px;
    border-collapse: collapse;
    background-color: white;
    width: 65%;
    margin: 15px;
    margin-left: auto;
    margin-right: auto;
}

th {
    background-color: teal;
    color: white;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px black;
    Text-align: left;
    height: 45px;
    padding: 10px;
}

.title {
    Text-align: right;
}

td {
    padding: 10px;
}