{% extends 'ChefKnives\ChefKnives_Base.html' %}

{% block title %} {% endblock %}

{% block header %} {% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Brands</th>
            <th scope="col">Price</th>
            <th scope="col">Country Of Origin</th>
            <th scope="col">Steal</th>
            <th scope="col">Blade</th>

          </tr>
        </thead>
        <tbody>
        {% for view in view %}
          <tr>
            <th scope="row">{{view.brands}}</th>
            <td>{{view.price}}</td>
            <td>{{view.country_origin}}</td>
            <td>{{view.steal}}</td>
            <td>{{view.blade}}</td>
            <td>

              <a class="btn btn-primary" href="{% url 'ChefKnives_Details' view.pk %}" role="button">Link</a>
              <a class="btn btn-primary" href="{% url 'ChefKnives_Edit' view.pk %}" role="button">Link</a>
                <a class="btn btn-primary" href="{% url 'ChefKnives_Delete' view.pk %}" role="button">Link</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

















<!--<div class ="container">-->
<!--    <table>-->
<!--        <tr id="head_row">-->
<!--            <th>Brands</th>-->
<!--            <th>Price</th>-->
<!--            <th>Country Of Origin</th>-->
<!--            <th>Steal</th>-->
<!--            <th>Blade Style</th>-->
<!--        </tr>-->

<!--        {% for view in view %}-->

<!--        <tr>-->
<!--            <td> {{view.brands}}</td>-->
<!--            <td> {{view.price}}</td>-->
<!--            <td> {{view.country_origin}}</td>-->
<!--            <td> {{view.steal}}</td>-->
<!--            <td> {{view.blade_style}}</td>-->
<!--            <td><a class="btn" href="{% url 'ChefKnives_Details' view.pk %}"> Details </a> </td>-->
<!--            <td><a class="btn" href="{% url 'ChefKnives_Edit' view.pk %}"> Edit </a> </td>-->
<!--            <td><a class="btn" href="{% url 'ChefKnives_Delete' view.pk %}"> Delete </a> </td>-->

<!--        </tr>-->
<!--        {% endfor %}-->
<!--    </table>-->
<!--</div>-->

{% endblock %}