{% load static from staticfiles %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} Chef Knives{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/ChefKnives.css' %}">

</head>
<body id="body">
    <div class="navbar">
        <a href="{% url 'ChefKnives_Home' %}">Home</a>
        <a href="{% url 'ChefKnives_View' %}">Added Chef Knives</a>
        <a href="{% url 'ChefKnives_Create' %}">Add Chef Knives</a>

    </div>
    <header class="header-title">
        <h1>{% block header %}Chef Knives{% endblock %}</h1>
    </header>




    {% block content %}{% endblock %}



    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/infinite.min.js' %}"></script>

</body>

<div class = footer>

 <p> 2022 | Cody Harris </p>

</div>

</html>