{% extends 'ChefKnives\ChefKnives_Base.html' %}

{% block title %} {% endblock %}

{% block header %} {% endblock %}

{% block content %}

<div class ="container">
    <table>
        <tr id="head_row">
            <th>Brands</th>
            <th>Price</th>
            <th>Country Of Origin</th>
            <th>Steal</th>
            <th>Blade Style</th>
        </tr>

        {% for view in view %}

        <tr>
            <td> {{view.brands}}</td>
            <td> {{view.price}}</td>
            <td> {{view.country_origin}}</td>
            <td> {{view.steal}}</td>
            <td> {{view.blade_style}}</td>
            <td><a class="btn" href="{% url 'ChefKnives_Details' view.pk %}"> Details </a> </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}