{% extends "StatCheck/StatCheckBASE.html" %}
{% block content %}
{% load static %}

<body class="d-flex h-100 text-center text-white bg-dark">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
<header class="mb-auto">
  <div>
    <h3 class="float-md-start mb-0">Stat Check United</h3>
    <nav class="nav nav-masthead justify-content-center float-md-end">
      <a class="nav-link active" aria-current="page" href="#">Home</a>
      <a class="nav-link" href="{% url 'StatCheckTEAM' %}">Teams</a>
      <a class="nav-link" href="{% url 'StatCheckPLAYER' %}">Players</a>
      <a class="nav-link" href="{% url 'StatCheckDISPLAY' %}">Display</a>
    </nav>
  </div>
</header>

<main class="px-3">
  <h1>Track Your Favorit Players</h1>
  <p class="lead">Stat Check allows you to track and monitor your favorit players activity On and Off the pitch</p>
  <p class="lead">
    <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
  </p>
</main>

<footer id="footer">
    <p> © 2021 STAT CHECK, Inc </p>
</footer>
</div>

</body>
{% endblock %}