* {
    box-sizing: border-box;
}


html {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: #b2e0e0;

}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.center {
    margin-left: auto;
    margin-right: auto;
}


h1 {
    font-family: sans-serif;
    text-align:center;
    line-height: 60px;
    font-weight: 900;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}

h4 {
    font-family: sans-serif;
    text-align:center;
    font-size: 20px;
    color: darkslateblue;
}

.bg_img {
    /* The image used */
    background-image: url('/static/Villager_Registry/images/ac_wallpaper.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 90%;
    z-index: 1;
}


.wrap {
    height: 100%;
    width: 100%;
    position:absolute;
    /* This ensures that the images cannot
        render outside of their container
        without forcing any scrollbars*/
    overflow: hidden;
    top: 0;
    left: 0;
    text-align: center;
}

/*------------------- NAVBAR ---------------------*/
/* Position the navbar container inside the image */
.navbar-container {
    top: 0;
    padding-bottom: 100px;
    content: " ";
    right: 5%;
    left: 5%;
    max-width: 100%;
    position: fixed;
    z-index: 3;
}

.topnav {
  overflow: hidden;
  background-color: rgb(255, 236, 128);
}

/* Navbar links */
.topnav a {
  float: left;
  color: rgb(0, 128, 128);
  text-align: center;
  padding: 26px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #b2e0e0;
  color: black;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  width:500px;
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav input[type=text] {
  padding-top: 8px;
  margin-top: 15px;
  margin-right: 15px;
  font-size: 18px;
  border: none;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
    .topnav a, .topnav input[type=text], .topnav .search-btn {
    float: none;
    display: block;
    text-align: left;
    width: 100%;

  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}

.search-btn {
    margin-right: 20px;
    padding: 10px;
    background-color: #89e6e6;
}
/*----------------- END NAVBAR -------------------*/

/*------------------- HEADER ---------------------*/
header {
    text-align: center;
    margin-top: 130px;
    margin-left:auto;
    margin-right-auto;
}
/*------------------ END HEADER -------------------*/

.home-head-img {
    position: sticky;
    display: inline-block;
    margin-right: 8%;
    width:50%;
    float: right;
    border-radius: 8px;
}


/*-------------- CONTAINERS -----------------------*/
.header-container {
    width: 600px;
    padding: 10px;
}

.home-container {
    position: relative;
    text-align:center;
    font-size: 100%
    padding:20%;
    display:inline-block;
    float:left;
    margin-left: 8%;
    height: 27%;
    width: 32%;
    margin-bottom: 10%;
}

.p-container {
    position: sticky;
    margin-top: 11.5%;
    margin-left:8%;
    background-color: rgb(255, 236, 128);
    height:27%;
    width: 32%;
    padding: 30px;
    border-radius:8px;
    font-family: sans-serif;
    color: rgb(0, 128, 128);
    font-size: 100%;
    font-weight:700;
    text-align: center;

}

.header-container, .account-container, .list-container, .home-container, .player-container {
    display:flex;
    background-color: #37e0e0de;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.header-container, .account-container, .player-container {
    margin-left: auto;
    margin-right: auto;
}

.account-container {
    width: 40%;
    height:100%;
    padding: 20px;
}

.list-container {
    display: flex;
    margin-left: 18%;
    margin-right: 18%;
    padding: 20px;
}

.player-container {
    margin-top: 4%;
    width: 84%;
    padding:0.90%;
}


/*----------------- END CONTAINERS ------------------*/


/*---------------- ACCOUNT FORMS --------------------*/
.account-form {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 8px
	border: 2px solid gray;
	margin-left: auto;
	margin-right: auto;
    flex-wrap: wrap;
    padding:20px;
	background-color: #89e6e6;
	z-index: 2;
}

.account-button {
	background-color: rgb(255, 236, 128);
	display: block;
	font-weight:600;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	color: darkslateblue;
}

.account-input {
    width: 300px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

label {
    padding-left: 20px;
    padding-right: 15px;
    color: darkslateblue;
    font-weight: 700;
}
/*--------------- END ACCOUNT FORM ----------------------*/


/*---------------- TABLE STYLING ------------------------*/
th {
    border: 2px solid darkslateblue;
    background-color: #0ccaca;
    font-size: 30px;
    color: darkslateblue;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
}

td {
    padding: 30px;
}

.resident-table, td {
    border: 2px solid darkslateblue;
    background-color:  rgb(253, 242, 181);
    font-size: 25px;
    color: darkslateblue;
    border-radius: 8px;
    text-align: center;
}

.resident-table {
    width: 100%;
    margin:20px;
    padding:20px;
}

td img {
    max-height:100px;
    max-width:100px;
    overflow: hidden;
}
/*---------------------- END TABLE STYLING --------------------*/