
html {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: #b2e0e0;

}

body {
    font-family: Arial, Helvetica, sans-serif;
}



h1, h2, h3 {
    font-family: sans-serif;
    text-align:center;
    line-height: 60px;
    font-weight: 900;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    color: rgb(204, 58, 58);
    text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}

h4 {
    font-family: sans-serif;
    text-align:center;
    font-size: 20px;
    color: darkslateblue;
}

.bg_img {
    /* The image used */
    background-image: url('/static/Villager_Registry/images/ac_wallpaper.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 90%;
    z-index: 1;
}

.wrap {
    height: 100%;
    width: 100%;
    position:absolute;
    /* This ensures that the images cannot
        render outside of their container
        without forcing any scrollbars*/
    overflow: hidden;
    top: 0;
    left: 0;
    text-align: center;
}

/* Position the navbar container inside the image */
.navbar-container {
    top: 0;
    padding-bottom: 100px;
    content: " ";
    right: 5%;
    left: 5%;
    max-width: 100%;
    position: fixed;
    z-index: 3;
}

/* The navbar */
.topnav {
  overflow: hidden;
  background-color: rgb(255, 236, 128);
}

/* Navbar links */
.topnav a {
  float: left;
  color: rgb(0, 128, 128);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #b2e0e0;
  color: black;
}

header {
    text-align: center;
    margin-top: 0;
}

.center {
    text-align: center;
}

.page-container {
    opacity: 1;
	position: relative;
	width: 550px;
	height: 500px;
	border-radius: 8px;
	border: 2px solid gray;
	margin-left: auto;
	margin-right: auto;
	margin-top: 200px
    display: flex;
    flex-wrap: wrap;
    padding:10px;
    margin: 0px auto;
	background-color: #37e0e0de;
	box-shadow: 4px 3px darkslateblue;
	z-index: 2;
}

.account-form {
    opacity: 1;
	position: relative;
	width: 600px;
	height: 100%;
	border-radius: 8px;
	border: 2px solid gray;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px
    display: flex;
    flex-wrap: wrap;
    padding:10px;
    padding-bottom: 100px;
    margin: 0px auto;
	background-color: #37e0e0de;
	box-shadow: 4px 3px darkslateblue;
	z-index: 2;
}

button {
	background-color: rgb(255, 236, 128);
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

input {
    text-align:center;
    width: 300px;
    height: 30px;
    margin-left: 8px;
    margin-bottom: 10px;
}