{% extends "swu_base.html" %}
{% load static %}

{% block title %} Sources {% endblock %}

{% block header %} {% endblock %}

{% block content %}
<h1>Sources</h1>
<br><br>
<h3><a href="https://en.wikipedia.org/wiki/Star_Wars#:~:text=Star%20Wars%20is%20an%20American,a%20worldwide%20pop%2Dculture%20phenomenon.">Here are the information sources we used.</a></h3>
<h3><a href="https://neoencyclopedia.fandom.com/wiki/List_of_Star_Wars_characters#A">Here are the Character sources we used for this information</a></h3>
<h4></h4>
<br>


{% endblock %}