{% extends "Blacksmithing/base.html" %}
{% load static %}
{% block title %} Add Your Favorite Blacksmithing Tool! {% endblock %}

{% block header %}
    <h1>View Tool</h1>
{% endblock %}

{% block content %}

<div class="details_form">
  <ul class="list-group">
      <h1 class="list-group-item">Tool</h1>
    <h1 class="list-group-item">{{ details.name }}</h1>
    <h4 class="list-group-item">Use</h4>
    <li class="list-group-item">{{ details.use }}</li>
    <h4 class="list-group-item">Price</h4>
    <li class="list-group-item">{{ details.price }}</li>
    <h4 class="list-group-item">Product Link</h4>
    <li class="list-group-item">{{ details.link }}</li>
    <h4 class="list-group-item">User Description</h4>
    <li class="list-group-item">{{ details.description }}</li>
  </ul>

{% endblock %}