{% extends "StudyApp/study_app_base.html" %}
{% load static %}

{% block title %} Activity {% endblock %}

{% block header %} {% endblock %}

{% block content %}
    <h1>Bored?</h1>
    <br>
    <p>Need an escape from the daily clock work that is your life? Give this activity a go:</p>
    <p>Note: The activity changes as you refresh the page. However, it's more fun to just take the first one given.
    </p>
    <br><br>
    <h2>Activity</h2>
    <!-- Here's where the activity, type, and participants from the activity API WILL BE DISPLAYED. -->

{% endblock %}