{% extends "StudyApp/study_app_base.html" %}
{% load static %}

{% block title %} Focus {% endblock %}

{% block header %}Focus Time! <br/>{% endblock %}

{% block content %}
    <br>
    <p>Experiencing frustrating roadblocks while working on your goal? <br> -OR- <br> Not sure where to start...</p>
    <br>
    <p>These tips can help guide you:</p>
    <br/>
    <!-- This is where I want to data scrape a section from another website that shows
         helpful tips and tricks that could help the users -->
    <p>(Note to my instructors) In the PyCharm Terminal you should see a numbered list
        of the top ten tips of how to study smarter not longer.
    </p>
{% endblock %}