{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ACNH db</title>
    <meta name="viewport" content="width=device-width, initial-scale-1.0">
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
    <title>Animal Crossing: New Horizons Database</title>
</head>



<body>

<div id="navbar">
    <ul>
        <li>Home</li>
        <li>Items</li>
        <li>Villagers</li>
    </ul>
</div>

<div id="block-footer">
    <p id="footer">ACNH db &copy 2021 | Brandon Andersen | API/Database provided by Nookipedia</p>
</div>

</body>
</html>