body {
    background-image: url("../images/icehockey.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h3 {
    color: white;
}

a {
    color: white;
}

p {
    color: white;
}
