{% extends "PetAdoption_base.html" %}
{% load static %}

{% block title %}Pet Adoption Statistics{% endblock %}

{% block header %}Pet Adoption Statistics{% endblock %}

{% block content %}
<div id="container" class="table-responsive w-75 mx-auto">
    <table id="table" class="table table-dark table-bordered table-hover text-center" data-toggle="table">
        <caption>Cat and Dog Adoption Statistics</caption>
        <thead>
            <tr>
                <th>Pet</th>
                <th># Entering Shelters Annually</th>
                <th># Euthanized in Shelters Annually</th>
                <th># Adopted from Shelters</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}