

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-image: url("../images/musicreviewbackground.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.navbar {
    overflow: hidden;
    background-color: rgb(66, 66, 66);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    box-shadow: 1px 1px 25px .5px black;
    padding-left: 1em;
}

.navbar a {
    float: left;
    display: block;
    padding: .5em;
    text-decoration: none;
    color: white;
}

.phototext {
    width:100%;
    position: relative;
    color: white;
    text-align: center;
    padding-top: 1.2em;
}