{% extends "WeatherBall/weatherbase.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en" class="bg_img">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}WeatherBall{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="{% static 'CSS/weatherball.css' %}">
    </head>
    <body>
        <div class="page_container">
            {% include "WeatherBall/weathernav.html" %}
            <header>
                <h1>{% block header %}Get Your Local Weather Here!"{% endblock %}</h1>
            </header>
{% block content %}
                <div class="container">
                    <h2>"User Profile Display"</h2>
                    <thead>
                        <tr>
                            <th scope="col" data-field="fname" data-sortable="true" class="w-25">First Name</th>
                            <th scope="col" data-field="lname" data-sortable="true" class="w-25">Last Name</th>
                            <th scope="col" data-field="email" data-sortable="true" class="w-25">Email</th>
                            <th scope="col" data-field="state" data-sortable="true" class="w-25">State</th>
                        </tr>
                    </thead>
                    <tbody>
{% for i in display %}
                        <tr>
                            <td><a href="{% url 'weatherdisplaydb' Users.id %}">{{ Users }}</a></td>
                            <td>{{ i.fname }}</td>
                            <td>{{ i.lname }}</td>
                            <td>{{ i.email }}</td>
                            <td>{{ i.state }}</td>
                        </tr>
{% endfor %}
                    </tbody>
                </div>
{% endblock %}
            </div>
        </div>
    </body>
</html>
