

body {
background-image: url("https://images.pexels.com/photos/3591557/pexels-photo-3591557.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
margin: 0;
padding: 0;
}

/*--- NAVBAR ---*/

.navbar {
    overflow: hidden;
    background-color: white;
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    max-width: 100%;
    opacity: 50%;
}

.navbar ul li {
    list-style: none;

}

.navbar a {

    color: black;
    padding: 10px;
    font-family: Helvetica;
    font-size: 4;
    font-weight: none
    text-decoration: none;


}
/*--- FOOTER ---*/
.footer {
background-color: white;
width: 100%;
max-width: 100%;
position: absolute;
bottom: 0;
opacity: 50%;
}

.footer-text {
color: black;
font-weight: bold;
margin-top: 11px;
padding: 0;
margin-bottom: 1px;
text-align: center;
}
