{% extends 'anime_reviews_base.html' %}

{% load static %}

{% block title %}Add New Review{% endblock %}


{% block content %}
<h1 class="viewHead">Search for more Anime here!</h1>

<div class="apiBox">
    <form class="searchBox" method="get">
        <input type="search"
               class="search-field"
               placeholder="Search your Anime here..."
               required />
    </form>
</div>

<h1 class="viewHead">Results for</h1>

{% for i in resultList %}
<div class="card-deck">
  <div class="card">
    <a href="{{ i.url }}" target="_blank"><img class="card-img-top" src="{{ i.image_url }}" alt="Card image cap"></a>
    <div class="card-body">
      <h5 class="card-title">{{ i.title }}</h5>
    </div>
  </div>
</div>
{% endfor %}

{% endblock %}