{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Anime Reviews{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'CSS/animeReviews.css' %}">
    </head>

    <header>
        {% block navbar %}
        <nav id="menu">
            <div class="menu-item">
                <div class="menu-text">
                    <a href="{% url 'anime_reviews_home' %}">Home</a>
                </div>
                <div class="menu-text">
                    <a href="{% url 'anime_reviews_create' %}">Submit</a>
                </div>
                <div class="menu-text">
                    <a href="{% url 'anime_reviews_view' %}">Reviews</a>
                </div>
            </div>
        </nav>
        {% endblock %}
    </header>

    {% block content %}
    <body>



    </body>
    {% endblock %}
    <footer>
        <p>Anime Reviews | &copy 2021</p>
    </footer>
</html>