{% extends 'Dogs/Dogs_base.html' %}

{% block title %} Details {% endblock %}

{% block content %}

    <h1>Details</h1>
        <div class="form-container">
            <form class="form" method="POST" action="../details/">
                <div>
                    {% csrf_token %}
                    {{ form.as_p }}
                </div>
                <div class="frmBtn_container">
                    <ul>
                        <li><a href="../{{ form.pk }}delete/">DELETE</a></li>
                        <li><a href="{% url 'Dogs_home' %}">CANCEL</a></li>
                    </ul>
                </div>
            </form>
        </div>

{% endblock %}