{% extends 'FloridaBirds/FloridaBirds_base.html' %}
    {% block title %}Add New Bird{% endblock %}
    {% block content %}

<!-- the HTML form element is used to collect user input. The form attribute called method = POST
 adds the form data to the HTTP request-->
        <form method="POST" class="add_bird_form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" name="add_bird">Add Bird</button>
            <!--name attribute on button element used to reference form data after form has been submitted-->
        </form>
    {% endblock %}