/*==================================
Navigation Section
===================================*/
.navbar {
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100vw; /*length of navbar.*/
    z-index: 2;
}

.navbar a {
    float: left; /*puts sections side by side.*/
    display: block;
    color: white;
    padding: 14px 16px; /*navbar size.*/
    text-decoration: none; /*removed underlines, etc.*/
    font-family: Avant Garde, Helvetica;
    font-size: 18px;
    text-align: center;
    position: relative;
}

@media screen and (max-width: 576px) {
    .navbar a{
        width: 25%;
        font-size: 12px;
    }
}

.navbar a:hover {
    color: grey;
    cursor: pointer;
    transition: 0.25s ease-in;
}

/*==================================
Body Section
===================================*/
body {
    background-image:url("../images/background_image.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    z-index: 0;
    color: grey;
    padding-top: 30px;
}

/*==================================
Container
===================================*/
.create-container {
	opacity: 0.97;
	position: relative;
	width: 600px;
	height: auto;
	border-radius: 8px;
	border: 2px solid gray;
	box-shadow: 4px 3px white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	background-color: black;
	text-align: center;
}

/*==================================
View Container Section
===================================*/
table {
    padding-left: 52px; /*moves whole table to the right*/
}

table tr th { /*label field*/
    padding-left: 35px; /*moves labels to the right*/
    text-align: left;
    text-decoration: underline;
}

table tr td { /*data field*/
    padding-top: 6px; /*adds space above & between data*/
    padding-left: 35px; /*moves data to the right*/
    text-align: left;
    color: white;
}

/*==================================
Footer Section
===================================*/
footer {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    color: white;
    padding-left: 880px;
    position: fixed;
    bottom: 0;
}