{% extends "Motorcycling/motorcycling_base.html" %}
{% load static %}


{% block content %}

    <h1>Routes Ratings</h1>

{% for Route in route_list %}
    <h3 style="color:red;"><strong>{{ Route }}</strong></h3>
    <ul>
    <li class="list-group-item list-group-item-warning">Starting Point: {{ Route.START_DESTINATION }}</li>
    <li class="list-group-item list-group-item-warning">Ending Point: {{ Route.END_DESTINATION }}</li>
    <li class="list-group-item list-group-item-warning">Rating: {{ Route.RATING }}</li>
    </ul>


{% endfor %}


{% endblock %}


