{% extends "Motorcycling/motorcycling_base.html" %}
{% load static %}

{% block title %}Motorcycling{% endblock %}

{% block header %}Welcome to Motorcycling{% endblock %}

<!-- Created navbar block, still don't have the font color the way i like yet -->
{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="#">Reviews</a>
        <a class="nav-link" href="#">Routes/Rides</a>
      </div>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
<h1>Welcome to my motorcycling page!</h1>
{% endblock %}
