{% extends "BasketballStats_base.html" %}
{% load static %}
{% block title %}Basketball Stats{% endblock %}

{% block header %}Ball Don't Lie API{% endblock %}

{% block content %}
<div class="row container w-75 mx-auto">
    <div id="eastern-conference" class="col-lg-6 col-md-6 col-sm-12 mx-auto">
        <table class="table table-dark table-bordered table-hover text-center" data-toggle="table">
            <thead>
                <tr>
                    <th>Eastern Conference</th>
                </tr>
                <tr>
                    <th>Atlantic Division</th>
                </tr>
            </thead>
            <tbody>
                {% for atlantic in atlantic %}
                <tr>
                    <td>{{ atlantic }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <th><b>Central Division</b></th>
                </tr>
                {% for central in central %}
                <tr>
                    <td>{{ central }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <th><b>Southeast Division</b></th>
                </tr>
                {% for southeast in southeast %}
                <tr>
                    <td>{{ southeast }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="western-conference" class="col-lg-6 col-md-6 col-sm-12 mx-auto">
        <table class="table table-dark table-bordered table-hover text-center" data-toggle="table">
             <thead>
                <tr>
                    <th>Western Conference</th>
                </tr>
                <tr>
                    <th>Northwest Division</th>
                </tr>
             </thead>
            <tbody>
                {% for northwest in northwest %}
                <tr>
                    <td>{{ northwest }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <th><b>Pacific Division</b></th>
                </tr>
                {% for pacific in pacific %}
                <tr>
                    <td>{{ pacific }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <th><b>Southwest Division</b></th>
                </tr>
                {% for southwest in southwest %}
                <tr>
                    <td>{{ southwest }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <div id="atlantic-logos">
            <img src="{{ logos.0 }}" width="300" height="300" style="display: inline-block;">
            <img src="{{ logos.1 }}" width="300" height="300" style="display: inline-block;">
            <img src="{{ logos.2 }}" width="300" height="300" style="display: inline-block;">
            <img src="{{ logos.3 }}" width="300" height="300" style="display: inline-block;">
            <img src="{{ logos.4 }}" width="300" height="300" style="display: inline-block;">
        </div>
        <div id="central-logos">
            <img src="{{ logos.5 }}" width="300" height="300" style="display: inline-block;">
            <img src="{{ logos.6 }}" width="300" height="300" style="display: inline-block;">
            <img src="{{ logos.7 }}" width="300" height="300" style="display: inline-block;">
            <img src="{{ logos.8 }}" width="300" height="300" style="display: inline-block;">
            <img src="{{ logos.9 }}" width="300" height="300" style="display: inline-block;">
        </div>
        <div id="souteast-logos">
            <img src="{{ logos.10 }}" width="300" height="300" style="display: inline-block;">
            <img src="{{ logos.11 }}" width="300" height="300" style="display: inline-block;">
            <img src="{{ logos.12 }}" width="300" height="300" style="display: inline-block;">
            <img src="{{ logos.13 }}" width="300" height="300" style="display: inline-block;">
            <img src="{{ logos.14 }}" width="300" height="300" style="display: inline-block;">
        </div>
        <div id="northwest-logos">
            <img src="{{ logos.15 }}" width="300" height="300" style="display: inline-block;">
            <img src="{{ logos.16 }}" width="300" height="300" style="display: inline-block;">
            <img src="{{ logos.17 }}" width="300" height="300" style="display: inline-block;">
            <img src="{{ logos.18 }}" width="300" height="300" style="display: inline-block;">
            <img src="{{ logos.19 }}" width="300" height="300" style="display: inline-block;">
        </div>
        <div id="pacific-logos">
            <img src="{{ logos.20 }}" width="300" height="300" style="display: inline-block;">
            <img src="{{ logos.21 }}" width="300" height="300" style="display: inline-block;">
            <img src="{{ logos.22 }}" width="300" height="300" style="display: inline-block;">
            <img src="{{ logos.23 }}" width="300" height="300" style="display: inline-block;">
            <img src="{{ logos.24 }}" width="300" height="300" style="display: inline-block;">
        </div>
        <div id="southwest-logos">
            <img src="{{ logos.25 }}" width="300" height="300" style="display: inline-block;">
            <img src="{{ logos.26 }}" width="300" height="300" style="display: inline-block;">
            <img src="{{ logos.27 }}" width="300" height="300" style="display: inline-block;">
            <img src="{{ logos.28 }}" width="300" height="300" style="display: inline-block;">
            <img src="{{ logos.29 }}" width="300" height="300" style="display: inline-block;">
        </div>
    </div>
</div>
{% endblock %}