{% extends "BasketballStats_base.html" %}
{% load static %}
{% block title %}Basketball Stats{% endblock %}
{% load crispy_forms_tags %}

{% block header %}Add Player Stats{% endblock %}

{% block content %}
<div id="form-container">
    <form method="POST">
        {% csrf_token %}
            <table id="table" class="table table-dark table-bordered table-hover text-center">
                {{ form.as_table }}
            </table>
        <button type="submit">Add</button>
    </form>
</div>
{% endblock %}