{% extends "BasketballStats_base.html" %}
{% load static %}
{% block title %} Favorites {% endblock %}

{% block header %}
    <h1>Add a Favorite Team!</h1>
{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-center">Select Your Favorite Teams!</h2>
    <form method="POST">
        {% csrf_token %}
        <label for="Teams">Choose a Team:</label>
        <select id="Teams">
            <option value="#">-----------</option>
            {% for team in all_teams %}
            <option value="1">{{ team }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}