{% extends "BasketballStats_base.html" %}
{% load static %}
{% block title %}Basketball Stats{% endblock %}

{% block header %}Welcome to my Basketball App{% endblock %}

{% block content %}
    <div class="jumbotron w-75 mx-auto">
        <div class="container">
            <h1 class="display-3">Basketball Stats!</h1>
            <p>
                This app utilizes the Django Framework. The "Add Players" page allows users
                to create a "Player" and a few stats about that "Player." The "Stats" page
                displays all "Players" created using the form from the "Add Players" page.
                "Standings" shows the NBA standings for specific years, including the current
                season. "History" displays a list of previous NBA Champions, who they defeated,
                and who won the Finals MVP.
            </p>
            <p>
                <a class="btn btn-primary btn-lg" href="#" role="button" onclick="return confirm('BOO!! This does nothing. For now...')">Button!</a>
            </p>
        </div>
    </div>
    <div class="card-deck w-75 mx-auto" id="card-container">
        <div class="card w-25">
            <div class="card-header card-images-container text-center">
                <img class="card-img-top img-fluid card-nba-image" src="{% static 'images/nba_logo.png' %}" alt="NBA Logo">
            </div>
            <div class="card-body">
                <p class="card-text">Basketball-Reference is the go-to website for NBA stat junkies. </p>
                <a href="https://www.basketball-reference.com/" class="card-link">Basketball-Reference</a>
            </div>
            <div class="card-footer">
                <h4 class="text-center">NBA</h4>
            </div>
        </div>

        <div class="card w-25">
            <div class="card-header">
                <img class="card-img-top img-fluid card-image" src="{% static 'images/.png' %}" alt="NBA Logo">
            </div>
            <div class="card-body">
                <p class="card-text">Basketball-Reference is the go-to website for stat junkies. </p>
                <a href="https://www.basketball-reference.com/" class="card-link">Basketball-Reference</a>
            </div>
            <div class="card-footer">
                <h4 class="text-center">Footer</h4>
            </div>
        </div>

        <div class="card w-25">
            <div class="card-header">
                <img class="card-img-top img-fluid card-image" src="{% static 'images/.png' %}" alt="NBA Logo">
            </div>
            <div class="card-body">
                <p class="card-text">Basketball-Reference is the go-to website for stat junkies. </p>
                <a href="https://www.basketball-reference.com/" class="card-link">Basketball-Reference</a>
            </div>
            <div class="card-footer">
                <h4 class="text-center">Footer</h4>
            </div>
        </div>
    </div>
{% endblock %}